Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/talos, area/github, area/kubernetes, area/taskfile, area/opentofu, area/renovate, area/scripts

fix(byparr): Add LOG_LEVEL environment variable to helm-release.yaml
  kubernetes/apps/media/byparr/app/helm-release.yaml
Labels: area/kubernetes

feat(homepage): update httproute and bookmarks for Hubble, add TrueNAS and pfSense services
  kubernetes/apps/kube-system/cilium/app/httproute.yaml
  kubernetes/apps/web-tools/homepage/app/config/bookmarks.yaml
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
  kubernetes/apps/web-tools/homepage/app/helm-release.yaml
Labels: area/kubernetes

feat(homepage): Add homepage annotation to rook HTTPRoute
  kubernetes/apps/media/huntarr/app/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
  kubernetes/apps/web-tools/homepage/app/config/bookmarks.yaml
Labels: area/kubernetes

fix(byparr): increase memory limit to 2Gi and add shared memory mount
  kubernetes/apps/media/byparr/app/helm-release.yaml
Labels: area/kubernetes

fix(huntarr): update health check path from /api/health to /health
  kubernetes/apps/media/huntarr/app/helm-release.yaml
Labels: area/kubernetes

fix(byparr): update image repository for byparr (ghcr.io/thephaseless → ghcr.io/home-operations)
  kubernetes/apps/media/byparr/app/helm-release.yaml
Labels: area/kubernetes

fix(byparr): comment out probe configuration in helm-release.yaml
  kubernetes/apps/media/byparr/app/helm-release.yaml
Labels: area/kubernetes

refactor: Update renovate action
  .github/workflows/renovate.yaml
Labels: area/github

fix(renovate): add 'trace' option to logLevel choices
  .github/workflows/renovate.yaml
Labels: area/github

refactor(byparr): remove obsolete HelmRelease and Kustomization files
  archive/kubernetes/apps/media/byparr/app/helm-release.yaml
  archive/kubernetes/apps/media/byparr/app/kustomization.yaml
  archive/kubernetes/apps/media/byparr/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

feat(tqm): :deploy: Add tqm to stack
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/tqm/app/config.sops.yaml
  kubernetes/apps/downloads/tqm/app/helmrelease.yaml
  kubernetes/apps/downloads/tqm/app/kustomization.yaml
  kubernetes/apps/downloads/tqm/ks.yaml
Labels: area/kubernetes

refactor(cilium): Correct depreciations in api and CRD's for 1.18.0
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes

fix(cilium): update BGP advertisement to use matchLabels instead of matchExpressions
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes

revert(cilium): Correct various apiVersions
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes

chore(cilium): Correct spelling of apiVersion
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes

chore(cilium): Update apiVersion
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes

refactor(cilium): :wrench: Update apiVersion to v2 from v2alpha1
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes

refactor(external-dns): :wrench: Remove text new format switch
  kubernetes/apps/networking/cloudflare-dns/app/helm-release.yaml
Labels: area/kubernetes

chore: add tautulli http url as env var
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

chore(tautulli): remove namespace declaration
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

chore(tautulli): :wrench: Update Tautulli API key
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes

refactor(tautulli): :wrench: Disable probes as it causes crashLoopBackup
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

revert(cilium): Correct various apiVersions
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes

chore(cilium): Update apiVersion
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes

refactor(external-dns): :wrench: Remove text new format switch
  kubernetes/apps/networking/cloudflare-dns/app/helm-release.yaml
Labels: area/kubernetes

refactor(cilium): :wrench: Update apiVersion to v2 from v2alpha1
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes

chore(cilium): Correct spelling of apiVersion
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes

fix(cilium): update BGP advertisement to use matchLabels instead of matchExpressions
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes

refactor(tautulli): :wrench: Disable probes as it causes crashLoopBackup
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

chore(tautulli): remove namespace declaration
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

chore: add tautulli http url as env var
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

chore(tautulli): :wrench: Update Tautulli API key
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes

style: :rotating_light: Linting changes, Truthy option added for "off"
  .ci/yamllint/.yamllint.yaml
  .github/workflows/flux-local.yaml
  kubernetes/apps/downloads/tqm/app/config.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/tools/osd-purge.yaml
Labels: area/github, area/kubernetes

feat(TQM): ✨ Add TQM to replace qbtools (#3020)
  .ci/yamllint/.yamllint.yaml
  .github/workflows/flux-local.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/tqm/app/config.sops.yaml
  kubernetes/apps/downloads/tqm/app/helmrelease.yaml
  kubernetes/apps/downloads/tqm/app/kustomization.yaml
  kubernetes/apps/downloads/tqm/ks.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/tools/osd-purge.yaml
Labels: area/github, area/kubernetes

fix(tqm): :recycle: Add Postbuild options to ks.yaml
  .vscode/settings.json
  kubernetes/apps/downloads/tqm/ks.yaml
Labels: area/kubernetes

fix(tqm): Correct image.tag
  kubernetes/apps/downloads/tqm/app/helmrelease.yaml
Labels: area/kubernetes

fix(tqm): Adjust indentation and update SOPS configuration
  kubernetes/apps/downloads/tqm/app/config.sops.yaml
Labels: area/kubernetes

fix(tqm): Correct container args
  kubernetes/apps/downloads/tqm/app/helmrelease.yaml
Labels: area/kubernetes

chore: Add/Update downloads volume
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes

chore(sabnzbd): Correct downloads globalMount path
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
    - any-glob-to-any-file: bootstrap/**/*
area/docs:
  - changed-files:
    - any-glob-to-any-file:
      - "docs/**/*"
      - "README.md"
area/talos:
  - changed-files:
    - any-glob-to-any-file: talos/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
    - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
    - any-glob-to-any-file:
      - ".taskfiles/**/*"
      - "Taskfile.yaml"
area/opentofu:
  - changed-files:
      - any-glob-to-any-file: infrastructure/opentofu/**/*
area/renovate:
  - changed-files:
    - any-glob-to-any-file:
      - ".renovate/**/*"
      - ".renovaterc.json5"
area/scripts:
  - changed-files:
    - any-glob-to-any-file: scripts/**/*
