Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/talos, area/kubernetes, area/terraform

chore(actions): 🔧 Update workflows
  .github/workflows/release.yaml
Labels: area/github

chore(ingress-nginx): :wrench: Add External Servies
  k8s/namespaces/clusters/betty/networking/external-services/octoprint_e5s1/ingress.yaml
  k8s/namespaces/clusters/betty/networking/external-services/octoprint_e5s1/kustomization.yaml
  k8s/namespaces/clusters/betty/networking/external-services/octoprint_e5s1/service.yaml
  k8s/namespaces/clusters/betty/networking/external-services/octoprint_kobra/ingress.yaml
  k8s/namespaces/clusters/betty/networking/external-services/octoprint_kobra/kustomization.yaml
  k8s/namespaces/clusters/betty/networking/external-services/octoprint_kobra/service.yaml
  k8s/namespaces/overlays/betty/networking.yaml
Labels: area/kubernetes

chore(ingress-nginx): :wrench: Correct RFC subdomain syntax
  k8s/namespaces/overlays/betty/networking.yaml
Labels: area/kubernetes

chore(ingress-nginx): 🔧 Correct RFC subdomain syntax
  k8s/namespaces/overlays/betty/networking.yaml
Labels: area/kubernetes

chore(cilium): :wrench: Add ingress annotations
  k8s/namespaces/clusters/base/kube-system/cilium/helm-release.yaml
Labels: area/kubernetes

chore(vpn-gateway): :wrench: Move to new chart
  k8s/global/flux/repositories/helm/angelnu.yaml
  k8s/global/flux/repositories/helm/kustomization.yaml
  k8s/namespaces/clusters/betty/vpn/vpn-gateway/helm-release.yaml
Labels: area/kubernetes

chore(vpn-gateway): :wrench: Add Updater env
  k8s/namespaces/clusters/betty/vpn/vpn-gateway/helm-release.yaml
Labels: area/kubernetes

chore(actions): :wrench: Update GitHub Actions
  .github/scripts/cloudflare-proxied-networks.sh
  .github/scripts/cloudflareNetworks.mjs
  .github/scripts/helm-release-differ.sh
  .github/scripts/helmReleaseDiff.mjs
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

chore(actions): :wrench: Update GitHub Action
  .github/workflows/schedule-cloudflare-proxied-networks-update.yaml
Labels: area/github

chore(flux): :wrench: Update apiVersion
  k8s/global/flux/repositories/git/origin-ca-issuer-chart.yaml
  k8s/global/flux/repositories/helm/sealed-secrets-charts.yaml
Labels: none

chore(actions): :wrench: Update kubernetes_dir
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

chore(docs): Update broken link
  readme.md
Labels: none

chore(external-service): :wrench: Update config
  k8s/namespaces/clusters/betty/networking/external-services/octoprint_e5s1/endpointslice.yaml
  k8s/namespaces/clusters/betty/networking/external-services/octoprint_e5s1/ingress.yaml
  k8s/namespaces/clusters/betty/networking/external-services/octoprint_e5s1/kustomization.yaml
  k8s/namespaces/clusters/betty/networking/external-services/octoprint_e5s1/service.yaml
  k8s/namespaces/clusters/betty/networking/external-services/octoprint_kobra/endpointslice.yaml
  k8s/namespaces/clusters/betty/networking/external-services/octoprint_kobra/ingress.yaml
  k8s/namespaces/clusters/betty/networking/external-services/octoprint_kobra/kustomization.yaml
  k8s/namespaces/clusters/betty/networking/external-services/octoprint_kobra/service.yaml
Labels: area/kubernetes

chore(vpn-gateway): :wrench: Change repo
  k8s/namespaces/clusters/betty/vpn/vpn-gateway/helm-release.yaml
Labels: area/kubernetes

feat(flux): :wrench: Bump Flux to v2.0.0-rc.1
  k8s/clusters/betty/deploy/flux-system/flux-installation.yaml
  k8s/global/bootstrap/kustomization.yaml
  k8s/global/flux/repositories/git/flux.yaml
Labels: none

chore(flux): :wrench: Correct metadata>Name
  k8s/clusters/betty/deploy/flux-system/flux-installation.yaml
Labels: none

chore(flux): :wrench: Change flux-installation to flux
  k8s/clusters/betty/deploy/cluster-base.yaml
  k8s/clusters/betty/deploy/cluster-config.yaml
  k8s/clusters/betty/deploy/cluster-crds.yaml
Labels: none

chore(cilium): :wrench: Add additonal policy
  k8s/namespaces/clusters/betty/vpn/vpn-gateway/network-policy.yaml
Labels: area/kubernetes

chore(ingress-nginx): :wrench: Add source whitelist
  k8s/namespaces/clusters/betty/media/bazarr/helm-release.yaml
  k8s/namespaces/clusters/betty/media/prowlarr/helm-release.yaml
  k8s/namespaces/clusters/betty/media/radarr/helm-release.yaml
  k8s/namespaces/clusters/betty/media/radarr4k/helm-release.yaml
  k8s/namespaces/clusters/betty/media/radarranime/helm-release.yaml
  k8s/namespaces/clusters/betty/media/sabnzbd/helm-release.yaml
  k8s/namespaces/clusters/betty/media/sonarr/helm-release.yaml
  k8s/namespaces/clusters/betty/media/sonarranime/helm-release.yaml
  k8s/namespaces/clusters/betty/web-tools/theme-park/helm-release.yaml
Labels: area/kubernetes

chore(vpn-gateway): :wrench: Add patch to remove networkpolicy
  k8s/namespaces/overlays/betty/vpn.yaml
Labels: area/kubernetes

chore(cluster-talos): :arrow_up: Update version
  k8s/clusters/talos/betty/talconfig.yaml
Labels: area/talos

chore(vpn): Correct repo spelling
  k8s/namespaces/clusters/betty/vpn/vpn-gateway/helm-release.yaml
Labels: area/kubernetes

chore(hajimari): Remove PVC and make emptyDir in Persistence
  k8s/namespaces/clusters/betty/web-tools/hajimari/helm-release.yaml
Labels: area/kubernetes

chore(hajimari): :wrench: Minamize config for testing
  k8s/namespaces/clusters/betty/web-tools/hajimari/helm-release.yaml
Labels: area/kubernetes

chore(flux): 🔧 Fix schema endpoint
  k8s/clusters/betty/deploy/cluster-base.yaml
  k8s/clusters/betty/deploy/cluster-betty.yaml
  k8s/clusters/betty/deploy/cluster-config.yaml
  k8s/clusters/betty/deploy/cluster-crds.yaml
  k8s/clusters/betty/deploy/cluster-repositories.yaml
  k8s/clusters/betty/deploy/flux-system/flux-installation.yaml
  k8s/clusters/betty/deploy/flux-system/home-cluster.yaml
  k8s/namespaces/overlays/base/databases.yaml
  k8s/namespaces/overlays/base/kube-system.yaml
  k8s/namespaces/overlays/base/networking.yaml
  k8s/namespaces/overlays/base/rook-ceph.yaml
  k8s/namespaces/overlays/betty/downloads.yaml
  k8s/namespaces/overlays/betty/flux-system.yaml
  k8s/namespaces/overlays/betty/media.yaml
  k8s/namespaces/overlays/betty/networking.yaml
  k8s/namespaces/overlays/betty/vpn.yaml
  k8s/namespaces/overlays/betty/web-tools.yaml
Labels: area/kubernetes

chore(cluster-talos): :wrench: Add renovate tags for updating
  .github/renovate.json5
  k8s/clusters/talos/betty/talconfig.yaml
Labels: area/github, area/talos

chore(ci): :wrench: Update renovate files to fix bug
  .github/renovate-bot.json5
  .github/renovate.json5
  .github/workflows/schedule-renovate.yaml
Labels: area/github

chore(cluster-talos): :wrench: Remove ephemeralcontainers
  k8s/clusters/talos/betty/talconfig.yaml
Labels: area/talos

chore(tasks): :wrench: Update task
  .taskfiles/ClusterTasks.yml
Labels: none

chore(ingress-nginx): :wrench: Add service annotation
  k8s/clusters/talos/betty/talconfig.yaml
  k8s/namespaces/clusters/base/networking/ingress-nginx/helm-release.yaml
Labels: area/talos, area/kubernetes

chore(recyclarr): :wrench: Add additional CF
  k8s/namespaces/clusters/betty/media/recyclarr/recyclarr.yml
Labels: area/kubernetes

chore(cluster-talos): :wrench: Did stuff
  infrastructure/terraform/vm/.terraform.lock.hcl
  k8s/clusters/talos/betty/talconfig.yaml
Labels: area/talos

chore(ingress-nginx): :wrench: Update external-dns
  k8s/namespaces/clusters/base/networking/external-dns/dnsendpoint-crd.yaml
  k8s/namespaces/clusters/base/networking/external-dns/helm-release.yaml
  k8s/namespaces/clusters/base/networking/external-dns/kustomization.yaml
Labels: area/kubernetes

chore(cluster-betty): :wrench: Remove external services
  k8s/namespaces/overlays/betty/networking.yaml
Labels: area/kubernetes

chore(flux):
  k8s/clusters/betty/deploy/flux-system/flux-installation.yaml
Labels: none

chore(k8s-gateway): :wrench: Change to official chart
  k8s/namespaces/clusters/base/networking/k8s-gateway/helm-release.yaml
Labels: area/kubernetes

chore(cilium): :wrench: Migrate to bgpControlPlane
  k8s/namespaces/clusters/base/kube-system/cilium/bgp-peering-policy.yaml
  k8s/namespaces/clusters/base/kube-system/cilium/helm-release.yaml
  k8s/namespaces/clusters/base/kube-system/cilium/kustomization.yaml
Labels: area/kubernetes

chore(cilium): :wrench: Remove explicit image definitions in favor of chart
  k8s/namespaces/clusters/base/kube-system/cilium/helm-release.yaml
Labels: area/kubernetes

chore(cilium): :wrench: adjusting to update crds
  k8s/namespaces/clusters/base/kube-system/cilium/kustomization.yaml
Labels: area/kubernetes

chore(cilium): :wrench: Add bgp peering policy
  k8s/namespaces/clusters/base/kube-system/cilium/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/talos:
  - "k8s/clusters/talos/**/*"
area/kubernetes:
  - "k8s/namespaces/**/*"
area/terraform:
  - "provision/terraform/**/*"
