Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform-cloudflare, area/terraform-vm

fix(network-policy): update CiliumNetworkPolicy to include ingress rules and clean up unused configurations
  kubernetes/apps/downloads/qbittorrent/app/network-policy.yaml
Labels: area/kubernetes

fix(external-dns): linted helm-release.yaml
  kubernetes/apps/networking/external/external-dns/helm-release.yaml
Labels: area/kubernetes

feat(gateway): add flux-webhook listener with HTTPS configuration
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
Labels: area/kubernetes

fix(external-dns): add logLevel configuration to HelmRelease
  kubernetes/apps/networking/external/external-dns/helm-release.yaml
Labels: area/kubernetes

fix(helm-release): update YAML schema references from v2beta2 to v2
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/apps/kube-system/reflector/app/helmrelease.yaml
  kubernetes/apps/monitoring/kyverno/app/helm-release.yaml
  kubernetes/apps/networking/external/external-dns/helm-release.yaml
  kubernetes/apps/networking/external/ingress-nginx/helm-release.yaml
  kubernetes/apps/networking/internal/ingress-nginx/helm-release.yaml
  kubernetes/apps/networking/nginx/external/helm-release.yaml
  kubernetes/apps/networking/nginx/internal/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/web-tools/hajimari/app/helm-release.yaml
Labels: area/kubernetes

refactor(external-dns): :closed_lock_with_key: Update Cloudflare Tunnel Secret
  kubernetes/apps/networking/external/external-dns/helm-release.yaml
  kubernetes/apps/networking/external/external-dns/kustomization.yaml
  kubernetes/components/common/cluster-secrets.sops.yaml
Labels: area/kubernetes

chore(talos): remove unused Cilium and kubelet-csr-approver configuration files
  talos/apps/cilium-values.yaml
  talos/apps/helmfile.yaml
  talos/apps/kubelet-csr-approver-values.yaml
Labels: none

fix(cert-manager): update Cloudflare API token reference in cluster issuers
  kubernetes/apps/cert-manager/cert-manager/app/clusterissuers.yaml
Labels: area/kubernetes

fix(vpnConfig): update VPN_SERVICE_PROVIDER value and metadata timestamps in vpnConfig.sops.yaml
  kubernetes/apps/downloads/qbittorrent/app/vpnConfig.sops.yaml
Labels: area/kubernetes

feat(workflow): add Flux Local workflow for pull request testing and diffing
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-local.yaml
Labels: area/github

fix(qbittorrent): enhance security context for pod and containers in helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(secrets): update OVERSEERR_API_KEY and metadata lastmodified timestamp
  kubernetes/components/common/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix(qbittorrent): add QBT_TORRENTING_PORT from secretKeyRef in container environment variables
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): update image repository and tag in helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): comment out coredns initContainer and its dependencies in helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): remove DNS_ADDRESS environment variable from helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): uncomment lifecycle postStart command in helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(cluster-secrets): add BAZARR_ANIME_APIKEY and BAZARR_UHD_APIKEY
  kubernetes/components/common/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix(qbittorrent): enforce non-root user execution in security context for containers
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): add missing ingress rule for TCP traffic on port 8080
  kubernetes/apps/downloads/qbittorrent/app/network-policy.yaml
Labels: area/kubernetes

fix(bazarr): update backup path for NFS in helm-release.yaml
  kubernetes/apps/media/bazarr-anime/app/helm-release.yaml
  kubernetes/apps/media/bazarr-uhd/app/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): enforce non-root user execution in security context
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(gluetun): remove startup probe reference from container configuration
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): update security context and init container configurations
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(gluetun): remove space in FIREWALL_INPUT_PORTS for correct parsing
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): remove DNS_ADDRESS environment variable from init container
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(bazarr): remove unused ingress configuration from helm-release.yaml
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

fix(renovate): update Renovate configuration and restore .renovaterc.json5
  .github/workflows/renovate.yaml
  .renovaterc.json5
Labels: area/github

fix(qbittorrent): update environment variable prefixes and enhance network policy for ingress
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/network-policy.yaml
Labels: area/kubernetes

fix(qbittorrent): remove QBT_TORRENTING_PORT and clean up commented configurations
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): update qBittorrent URL to use the correct service address
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
  kubernetes/apps/web-tools/homepage/app/config/widgets.yaml
  kubernetes/components/common/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix(qbittorrent): update Corefile forward address and enhance helm-release configuration with new init containers and environment variables
  kubernetes/apps/downloads/qbittorrent/app/config/Corefile
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): remove coredns init container and its dependencies
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): update vuetorrent dependency reference and remove unused sync-timeout argument
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): standardize app references in helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): add fallthrough directive to cluster.local configuration
  kubernetes/apps/downloads/qbittorrent/app/config/Corefile
Labels: area/kubernetes

fix(qbittorrent): correct indentation for controllers in helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): comment out probe configurations in helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): enhance network policy by adding cluster entity rules and update services configuration
  kubernetes/apps/downloads/qbittorrent/app/network-policy.yaml
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
  kubernetes/components/common/cluster-secrets.sops.yaml
Labels: area/kubernetes

refactor(kustomization): remove external-dns and hajimari repositories from kustomization.yaml
  kubernetes/flux/meta/repos/external-dns.yaml
  kubernetes/flux/meta/repos/hajimari.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/talos:
  - changed-files:
  - any-glob-to-any-file: infrastructure/talos/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform-cloudflare:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/cloudflare/*
area/terraform-vm:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/vm/*
