Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/talos, area/github, area/kubernetes, area/taskfile, area/opentofu, area/renovate, area/scripts

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
    - any-glob-to-any-file: bootstrap/**/*
area/docs:
  - changed-files:
    - any-glob-to-any-file:
      - "docs/**/*"
      - "README.md"
area/talos:
  - changed-files:
    - any-glob-to-any-file: talos/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
    - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
    - any-glob-to-any-file:
      - ".taskfiles/**/*"
      - "Taskfile.yaml"
area/opentofu:
  - changed-files:
      - any-glob-to-any-file: infrastructure/opentofu/**/*
area/renovate:
  - changed-files:
    - any-glob-to-any-file:
      - ".renovate/**/*"
      - ".renovaterc.json5"
area/scripts:
  - changed-files:
    - any-glob-to-any-file: scripts/**/*

refactor(qbittorrent): Update qBittorrent settings and remove depreciated tools
  .vscode/settings.json
  archive/kubernetes/apps/downloads/kustomization.yaml
  archive/kubernetes/apps/downloads/qbittorrent/ks.yaml
  archive/kubernetes/apps/downloads/qbittorrent/qbittorrent/config/Corefile
  archive/kubernetes/apps/downloads/qbittorrent/qbittorrent/config/categories.json
  archive/kubernetes/apps/downloads/qbittorrent/qbittorrent/config/qBittorrent.conf
  archive/kubernetes/apps/downloads/qbittorrent/qbittorrent/config/watched_folders.json
  archive/kubernetes/apps/downloads/qbittorrent/qbittorrent/kustomization.yaml
  archive/kubernetes/apps/downloads/qbittorrent/qbittorrent/qbittorrent-gluetun.sops.yaml
  archive/kubernetes/apps/downloads/qbittorrent/tools/helm-release.yaml
  archive/kubernetes/apps/downloads/qbittorrent/tools/kustomization.yaml
  archive/kubernetes/apps/downloads/qbittorrent/tools/network-policy.yaml
  archive/kubernetes/apps/downloads/qbittorrent/tools/qbtools-config.secret.sops.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/kustomizeconfig.yaml
  kubernetes/apps/downloads/qbittorrent/app/lokirule.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
Labels: area/kubernetes

feat(tqm): Kustomization add decryption configuration with sops provider
  kubernetes/apps/downloads/tqm/ks.yaml
Labels: area/kubernetes

refactor: Update configs for monitoring namespace
  kubernetes/apps/monitoring/alloy/app/resources/config.alloy
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes

chore(sabnzbd): Remove persitent volume
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes

chore(qbittorrent): Remove persitent volume
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(grafana): refactor datasource deletion syntax for clarity
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

style(grafana): :art: Correct linting
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

refactor(flux): :recycle: Add kustomize-controller sops decryption
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/tqm/ks.yaml
  kubernetes/apps/flux-system/flux-instance/app/helm/kustomizeconfig.yaml
  kubernetes/apps/flux-system/flux-instance/app/helm/values.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-instance/app/prometheusrule.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver.yaml
  kubernetes/apps/monitoring/alloy/ks.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/loki/ks.yaml
  kubernetes/apps/networking/cloudflare-dns/ks.yaml
  kubernetes/apps/networking/cloudflare-tunnel/ks.yaml
  kubernetes/apps/networking/k8s-gateway/ks.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

chore: Correct url for chart
  kubernetes/apps/downloads/tqm/app/config.sops.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/ocirepository.yaml
Labels: area/kubernetes

chore: Remove cosign verification and reverted url
  kubernetes/apps/kube-system/kubelet-csr-approver/app/ocirepository.yaml
Labels: area/kubernetes

refactor(github-actions): Update actions
  .github/workflows/flux-local.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/release.yaml
Labels: area/github

fix(helmrelease): simplify providerRegex format in values section
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
Labels: area/kubernetes

style: Lint file
  bootstrap/helmfile.d/01-apps.yaml
Labels: area/bootstrap

chore: delete unknown files
  "\"\\n\""
  "\n"
Labels: none

chore: delete unknown file
  "\"\\n\""
Labels: none

doc: Update Readme
  readme.md
Labels: none

feat(kromgo): Add Kromgo to stack
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/kustomization.yaml
  kubernetes/apps/monitoring/kromgo/app/resources/config.yaml
  kubernetes/apps/monitoring/kromgo/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

chore(kromgo): Update ports
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(kromgo): Correct probe endpoint
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

docs: Update Readme
  readme.md
Labels: none

style: Update formatting
  readme.md
Labels: none

chore: Update Readme
  readme.md
Labels: none

Delete "\"\\\"\\\\n\\\"\""
  "\"\\\"\\\\n\\\"\""
Labels: none

style(prometheus): Fix linting
  kubernetes/apps/monitoring/kube-prometheus-stack/app/ocirepository.yaml
Labels: area/kubernetes

feat(atuin): Add Atuin server to stack
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/system/atuin/app/config-pvc.yaml
  kubernetes/apps/system/atuin/app/helmrelease.yaml
  kubernetes/apps/system/atuin/app/kustomization.yaml
  kubernetes/apps/system/atuin/ks.yaml
Labels: area/kubernetes

feat(atuin): Add Atuin server to stack (#3106)
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/system/atuin/app/config-pvc.yaml
  kubernetes/apps/system/atuin/app/helmrelease.yaml
  kubernetes/apps/system/atuin/app/kustomization.yaml
  kubernetes/apps/system/atuin/ks.yaml
Labels: area/kubernetes

fix(grafana): Correct prometheus endpoint in datasources
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(dashboard): Correct prometheus endpoint.
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
Labels: area/kubernetes

feat(prometheus): Add Alertmanager as a seperate configuration
  kubernetes/apps/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes

chore(warp): Create warp.md for warp terminal testing
  WARP.md
Labels: none

fix(prometheus): Correct kubeEtcd entry to endpoints again
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

refactor(flux): :recycle: Add kustomize-controller sops decryption (#3064)
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/tqm/ks.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-instance/app/prometheusrule.yaml
  kubernetes/apps/flux-system/flux-instance/app/receiver.yaml
  kubernetes/apps/monitoring/alloy/ks.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/loki/ks.yaml
  kubernetes/apps/networking/cloudflare-dns/ks.yaml
  kubernetes/apps/networking/cloudflare-tunnel/ks.yaml
  kubernetes/apps/networking/k8s-gateway/ks.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix(flux): Post flux headache release
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/components/namespace/kustomization.yaml
  kubernetes/components/namespace/namespace.yaml
  kubernetes/components/replacements/ks.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix(media): Correct file path in kustomize
  kubernetes/apps/media/huntarr/app/kustomization.yaml
  kubernetes/apps/media/readarr/app/kustomization.yaml
  kubernetes/apps/media/sonarr/app/kustomization.yaml
  kubernetes/apps/media/sonarranime/app/kustomization.yaml
Labels: area/kubernetes

refactor(flux): Add Sops decryption to all Kustomizations
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix(homepage): Correct web address endpoint
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
Labels: area/kubernetes

chore(flux): Add namespace metadata
  kubernetes/components/common/sops/sops-age.sops.yaml
Labels: area/kubernetes

feat(kustomization): Add Sops decryption configuration to multiple Kustomization files
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/tqm/ks.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/media/overseerr/ks.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/radarranime/ks.yaml
  kubernetes/apps/media/radarruhd/ks.yaml
  kubernetes/apps/media/readarr/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/sonarranime/ks.yaml
  kubernetes/apps/media/sonarruhd/ks.yaml
Labels: area/kubernetes

chore: Modify flux-instance hr and add justfiles for management
  .justfile
  .vscode/settings.json
  bootstrap/mod.just
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/mod.just
  talos/mod.just
Labels: area/bootstrap, area/talos, area/kubernetes

feat: Update Proxmox provider version and refactor VM configurations; add Talos versioning to Justfile
  infrastructure/opentofu/vm/.terraform.lock.hcl
  infrastructure/opentofu/vm/main.tf
  infrastructure/opentofu/vm/vars.tf
  infrastructure/opentofu/vm/versions.tf
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/web-tools/kustomization.yaml
  talos/mod.just
Labels: area/talos, area/kubernetes, area/opentofu
