Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform-cloudflare, area/terraform-vm

feat(grafana): update dashboard configurations and enhance security settings
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

chore(mise): Upgrade dependencies
  .mise.toml
Labels: none

chore(mise): Upgrade dependencies
  .mise.toml
Labels: none

Revert "feat(terraform): refactor Proxmox VM configuration for Talos master and worker"
  infrastructure/terraform/vm/main.tf
Labels: area/terraform-vm

fix(terraform): update Proxmox VM configuration for openTofu provider and enable IPv6 skipping
  infrastructure/terraform/vm/.terraform.lock.hcl
  infrastructure/terraform/vm/main.tf
Labels: area/terraform-vm

feat(opentofu): add Proxmox VM configuration and tasks for initialization, planning, applying, and destruction
  .taskfiles/opentofu/Taskfile.yaml
  .taskfiles/terraform/Taskfile.yaml
  .vscode/settings.json
  infrastructure/opentofu/vm/.terraform.lock.hcl
  infrastructure/opentofu/vm/main.tf
  infrastructure/opentofu/vm/secret.sops.yaml
  infrastructure/opentofu/vm/vars.tf
  infrastructure/opentofu/vm/versions.tf
Labels: area/taskfile

fix(huntarr): update image repository for huntarr to ghcr.io/plexguide/huntarr
  kubernetes/apps/media/huntarr/app/helm-release.yaml
Labels: area/kubernetes

fix(mise): update cloudflared version from 2025.4.2 to 2025.5.0
  .mise.toml
Labels: none

.github/labeler.yaml:

---
area/talos:
  - changed-files:
  - any-glob-to-any-file: infrastructure/talos/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform-cloudflare:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/cloudflare/*
area/terraform-vm:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/vm/*
