Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/talos, area/github, area/kubernetes, area/taskfile, area/opentofu, area/renovate, area/scripts

chore(qbittorrent): Update VPN config
  kubernetes/apps/downloads/qbittorrent/app/vpnConfig.sops.yaml
Labels: area/kubernetes

chore(victoria-logs): Update endpoint in alloy, add annotations to route for homepage
  kubernetes/apps/monitoring/alloy/app/resources/config.alloy
  kubernetes/apps/monitoring/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/web-tools/homepage/app/config/bookmarks.yaml
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
Labels: area/kubernetes

chore(homepage): :art: Update icon for Cisco CBS350 Switch
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
Labels: area/kubernetes

feat(grafana): :recycle: Migrate to grafana-operator
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/grafanadashboard.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/grafanadashboard.yaml
  kubernetes/apps/kube-system/cilium/app/helm/kustomizeconfig.yaml
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/gateway/certificate.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/redirect.yaml
  kubernetes/apps/kube-system/spegel/app/grafanadashboard.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/monitoring/grafana/app/grafanadashboard.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
  kubernetes/apps/monitoring/grafana/app/ocirepository.yaml
  kubernetes/apps/monitoring/grafana/instance/grafana.yaml
  kubernetes/apps/monitoring/grafana/instance/grafanadatasource.yaml
  kubernetes/apps/monitoring/grafana/instance/httproute.yaml
  kubernetes/apps/monitoring/grafana/instance/kustomization.yaml
  kubernetes/apps/monitoring/grafana/instance/servicemonitor.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/grafanadashboard.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/victoria-logs/app/kustomization.yaml
  kubernetes/apps/networking/cloudflare-dns/app/kustomization.yaml
  kubernetes/apps/networking/cloudflare-dns/app/prometheusrule.yaml
  kubernetes/apps/networking/cloudflare-dns/app/secrets.sops.yaml
  kubernetes/apps/networking/cloudflare-tunnel/app/grafanadashboard.yaml
  kubernetes/apps/networking/cloudflare-tunnel/app/kustomization.yaml
  kubernetes/apps/networking/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/networking/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/networking/envoy-gateway/app/monitoring.yaml
  kubernetes/apps/networking/envoy-gateway/app/podmonitor.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/grafanadashboard.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
Labels: area/kubernetes

feat(grafana): :recycle: Migrate to grafana-operator (#3194)
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/grafanadashboard.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/grafanadashboard.yaml
  kubernetes/apps/kube-system/cilium/app/helm/kustomizeconfig.yaml
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/gateway/certificate.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/redirect.yaml
  kubernetes/apps/kube-system/spegel/app/grafanadashboard.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/monitoring/grafana/app/grafanadashboard.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
  kubernetes/apps/monitoring/grafana/app/ocirepository.yaml
  kubernetes/apps/monitoring/grafana/instance/grafana.yaml
  kubernetes/apps/monitoring/grafana/instance/grafanadatasource.yaml
  kubernetes/apps/monitoring/grafana/instance/httproute.yaml
  kubernetes/apps/monitoring/grafana/instance/kustomization.yaml
  kubernetes/apps/monitoring/grafana/instance/servicemonitor.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/grafanadashboard.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/victoria-logs/app/kustomization.yaml
  kubernetes/apps/networking/cloudflare-dns/app/kustomization.yaml
  kubernetes/apps/networking/cloudflare-dns/app/prometheusrule.yaml
  kubernetes/apps/networking/cloudflare-dns/app/secrets.sops.yaml
  kubernetes/apps/networking/cloudflare-tunnel/app/grafanadashboard.yaml
  kubernetes/apps/networking/cloudflare-tunnel/app/kustomization.yaml
  kubernetes/apps/networking/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/networking/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/networking/envoy-gateway/app/monitoring.yaml
  kubernetes/apps/networking/envoy-gateway/app/podmonitor.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/grafanadashboard.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
Labels: area/kubernetes

chore(grafana): Awate deployment of operator before applying
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
Labels: area/kubernetes

chore(grafana): add dashboard back
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
Labels: area/kubernetes

ci(ci): Update renovate files to new grafana-operator, add custom changelog destinations for specific releases
  .renovate/autoMerge.json5
  .renovate/changelogs.json5
  .renovate/grafanaDashboards.json5
  .renovaterc.json5
Labels: area/renovate

fix(grafana-datasource): update Alertmanager URL to use kube-prometheus-stack
  kubernetes/apps/monitoring/grafana/instance/grafanadatasource.yaml
Labels: area/kubernetes

fix(alertmanager): update Alertmanager URL to use alertmanager-operated service fix(alertmanagerconfig): correct key and name order for Discord webhook URL
  kubernetes/apps/monitoring/grafana/instance/grafanadatasource.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/kubernetes

refactor:(:recycle:): Update config for grafana
  kubernetes/apps/kube-system/spegel/app/grafanadashboard.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
Labels: area/kubernetes

ci: Add scripts for parsing changelogs on specific releases. might work??
  .github/scripts/enrich/__init__.py
  .github/scripts/enrich/logging.py
  .github/scripts/enrich/main.py
  .github/scripts/enrich/providers/__init__.py
  .github/scripts/enrich/providers/base.py
  .github/scripts/enrich/providers/bjw_helm.py
  .github/scripts/enrich/providers/cloudflared.py
  .github/scripts/enrich/providers/kubernetes.py
  .github/scripts/enrich/providers/qbittorrent.py
  .github/scripts/enrich/providers/spegel.py
  .github/scripts/enrich/registry.py
  .github/scripts/enrich/types.py
  .github/scripts/enrich/utils.py
  .github/scripts/generate-manifest.sh
  .github/scripts/kubeconform.sh
  .github/workflows/changelog.yaml
  .renovate/changelogs.json5
  bootstrap/helmfile.yaml
  talos/patches/controller/cluster.yaml
  talos/patches/global/machine-kubelet.yaml
  talos/talconfig.yaml
Labels: area/bootstrap, area/talos, area/github, area/renovate

ci: fix script entrypoint location
  .github/workflows/changelog.yaml
Labels: area/github

fix(ci): changing the changlog with changlog changelogging
  .github/scripts/enrich/main.py
  .github/scripts/enrich/providers/base.py
  .github/scripts/enrich/providers/bjw_helm.py
  .github/scripts/enrich/providers/cloudflared.py
  .github/scripts/enrich/providers/kubernetes.py
  .github/scripts/enrich/providers/qbittorrent.py
  .github/scripts/enrich/providers/spegel.py
  .github/scripts/enrich/registry.py
  .github/scripts/enrich/special_class.py
Labels: area/github

feat(seerr): :rocket: Add new seerr package to stack
  .justfile
  .minijinja.toml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/seerr/app/helmrelease.yaml
  kubernetes/apps/media/seerr/app/kustomization.yaml
  kubernetes/apps/media/seerr/app/ocirepository.yaml
  kubernetes/apps/media/seerr/ks.yaml
  kubernetes/mod.just
  kubernetes/templates/app-template/app/ocirepository.yaml.j2
  kubernetes/templates/app-template/ks.yaml.j2
  kubernetes/templates/other/app/helmrelease.yaml.j2
Labels: area/kubernetes

refactor(rook-ceph): :chart_with_upwards_trend: Update configurations
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
Labels: area/kubernetes

feat: Update Helmfile CRDs and applications, add Grafana operator, and enhance Talos configuration
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/mod.just
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/networks.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/spegel/app/ocirepository.yaml
  kubernetes/apps/monitoring/kyverno/app/ocirepository.yaml
  kubernetes/components/common/cluster-settings.yaml
  kubernetes/templates/app-template/app/ocirepository.yaml.j2
  talos/mod.just
  talos/talconfig.yaml
Labels: area/bootstrap, area/talos, area/kubernetes

fix(seer): Correct config path location, probe endpoint
  kubernetes/apps/media/seerr/app/helmrelease.yaml
Labels: area/kubernetes

fix(bazarr): Remove unnecessary config reload annotation and streamline port usage
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(recyclarr): :wrench: Add media nameing configuration to yaml file
  kubernetes/apps/media/recyclarr/app/configs/radarr-anime-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/radarr-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/radarr-uhd-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/sonarr-anime-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/sonarr-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/sonarr-uhd-config.yaml
Labels: area/kubernetes

chore(rook-ceph): comment out device failure prediction and disk prediction module
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore: Remove Bazarr and Huntarr from stack
  kubernetes/apps/media/bazarr-anime/app/helmrelease.yaml
  kubernetes/apps/media/bazarr-anime/app/kustomization.yaml
  kubernetes/apps/media/bazarr-anime/app/ocirepository.yaml
  kubernetes/apps/media/bazarr-anime/ks.yaml
  kubernetes/apps/media/bazarr-uhd/app/helmrelease.yaml
  kubernetes/apps/media/bazarr-uhd/app/kustomization.yaml
  kubernetes/apps/media/bazarr-uhd/app/ocirepository.yaml
  kubernetes/apps/media/bazarr-uhd/ks.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/kustomization.yaml
  kubernetes/apps/media/bazarr/app/ocirepository.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/huntarr/app/helmrelease.yaml
  kubernetes/apps/media/huntarr/app/kustomization.yaml
  kubernetes/apps/media/huntarr/app/ocirepository.yaml
  kubernetes/apps/media/huntarr/ks.yaml
Labels: area/kubernetes

fix: Correct kustomization to reflect removal of apps
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

feat(oci): update app-template references and remove cosign verification
  kubernetes/apps/downloads/qbittorrent/app/ocirepository.yaml
  kubernetes/apps/downloads/tqm/app/ocirepository.yaml
  kubernetes/apps/media/overseerr/app/ocirepository.yaml
  kubernetes/apps/media/prowlarr/app/ocirepository.yaml
  kubernetes/apps/media/radarr/app/ocirepository.yaml
  kubernetes/apps/media/radarranime/app/ocirepository.yaml
  kubernetes/apps/media/radarruhd/app/ocirepository.yaml
  kubernetes/apps/media/sabnzbd/app/ocirepository.yaml
  kubernetes/apps/media/seerr/app/ocirepository.yaml
  kubernetes/apps/media/sonarr/app/ocirepository.yaml
  kubernetes/apps/media/sonarranime/app/ocirepository.yaml
  kubernetes/apps/media/sonarruhd/app/ocirepository.yaml
  kubernetes/apps/media/tautulli/app/ocirepository.yaml
  kubernetes/apps/monitoring/kromgo/app/ocirepository.yaml
  kubernetes/apps/networking/cloudflare-tunnel/app/ocirepository.yaml
  kubernetes/apps/system/atuin/app/ocirepository.yaml
  kubernetes/apps/system/generic-device-plugin/app/helmrelease.yaml
  kubernetes/apps/system/generic-device-plugin/app/kustomization.yaml
  kubernetes/apps/system/generic-device-plugin/app/ocirepository.yaml
  kubernetes/apps/web-tools/homepage/app/ocirepository.yaml
  kubernetes/components/common/repos/app-template/ocirepository.yaml
  kubernetes/templates/app-template/app/ocirepository.yaml.j2
Labels: area/kubernetes

fix: Correct OCIRepository
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/media/flaresolverr/app/ocirepository.yaml
  kubernetes/apps/networking/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

fix: Correct module calls
  .github/scripts/enrich/main.py
  .github/scripts/enrich/providers/base.py
  .github/scripts/enrich/providers/bjw_helm.py
  .github/scripts/enrich/providers/cloudflared.py
  .github/scripts/enrich/providers/kubernetes.py
  .github/scripts/enrich/providers/qbittorrent.py
  .github/scripts/enrich/providers/spegel.py
  .github/scripts/enrich/registry.py
  .github/scripts/enrich/utils.py
Labels: area/github

fix(flaresolver): Add ocirepository():
  kubernetes/apps/media/flaresolverr/app/kustomization.yaml
Labels: area/kubernetes

fix(overseerr): remove from the stack
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

refactor(opentofu): :recycle: Add startup_shutdown block introduced in latest release of proxmox provider.
  infrastructure/opentofu/vm/main.tf
Labels: area/opentofu

refactor(just): :recycle: Add helper functions to get and push latest talos image to proxmox.
  .vscode/settings.json
  talos/mod.just
Labels: area/talos

chore: Remove k9s config
  infrastructure/mod.just
  k9s_config.yaml
Labels: none

chore(seerr): Update probes
  kubernetes/apps/media/seerr/app/helmrelease.yaml
Labels: area/kubernetes

refactor(homepage): replace overseerr with jellyseer widget
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/templates/app-template/app/helmrelease.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/mod.just
  kubernetes/templates/both/app/helmrelease.yaml.j2
  kubernetes/templates/both/app/kustomization.yaml.j2
  kubernetes/templates/both/app/ocirepository.yaml.j2
  kubernetes/templates/both/ks.yaml.j2
Labels: area/kubernetes

chore(cluster-secrets): Update Tautulli API key():
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes

feat(homepage): :sparkles: Add Cloudflared widget
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes

feat(homepage): add initial configuration for Proxmox connection
  kubernetes/apps/web-tools/homepage/app/config/proxmox.yaml
Labels: area/kubernetes

fix(homepage): :bug: Add proxmox to configmap generation and persistant storage decleration
  kubernetes/apps/web-tools/homepage/app/helmrelease.yaml
  kubernetes/apps/web-tools/homepage/app/kustomization.yaml
Labels: area/kubernetes

fix(secrets): update SEER_API_KEY to SEERR_API_KEY and modify lastmodified timestamp
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix(homepage): :bug: Fix TrueNAS api version
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes

feat(app): add new HelmRelease and Kustomization templates for app deployment
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/templates/app-template/app/helmrelease.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/mod.just
  kubernetes/templates/app-template/app/ocirepository.yaml.j2
  kubernetes/templates/app-template/ks.yaml.j2
  kubernetes/templates/apps/app/helmrelease.yaml.j2
  kubernetes/templates/apps/app/kustomization.yaml.j2
  kubernetes/templates/apps/app/ocirepository.yaml.j2
  kubernetes/templates/apps/ks.yaml.j2
  kubernetes/templates/both/app/helmrelease.yaml.j2
  kubernetes/templates/both/app/kustomization.yaml.j2
  kubernetes/templates/both/ks.yaml.j2
  kubernetes/templates/other/app/helmrelease.yaml.j2
  kubernetes/templates/other/app/kustomization.yaml.j2
  kubernetes/templates/other/app/ocirepository.yaml.j2
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
    - any-glob-to-any-file: bootstrap/**/*
area/docs:
  - changed-files:
    - any-glob-to-any-file:
      - "docs/**/*"
      - "README.md"
area/talos:
  - changed-files:
    - any-glob-to-any-file: talos/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
    - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
    - any-glob-to-any-file:
      - ".taskfiles/**/*"
      - "Taskfile.yaml"
area/opentofu:
  - changed-files:
      - any-glob-to-any-file: infrastructure/opentofu/**/*
area/renovate:
  - changed-files:
    - any-glob-to-any-file:
      - ".renovate/**/*"
      - ".renovaterc.json5"
area/scripts:
  - changed-files:
    - any-glob-to-any-file: scripts/**/*
