Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/talos, area/github, area/kubernetes, area/taskfile, area/opentofu, area/renovate, area/scripts

feat!(victoria-metrics): Transition from promethus to victoria-metrics (#3564)
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/monitoring/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/monitoring/victoria-metrics/app/ocirepository.yaml
  kubernetes/apps/monitoring/victoria-metrics/cluster/grafanadashboard.yaml
  kubernetes/apps/monitoring/victoria-metrics/cluster/helmrelease.yaml
  kubernetes/apps/monitoring/victoria-metrics/cluster/kustomization.yaml
  kubernetes/apps/monitoring/victoria-metrics/cluster/ocirepository.yaml
  kubernetes/apps/monitoring/victoria-metrics/cluster/resources/flux-metrics.yaml
  kubernetes/apps/monitoring/victoria-metrics/cluster/scrapeconfig.yaml
  kubernetes/apps/monitoring/victoria-metrics/ks.yaml
Labels: area/kubernetes

chore: did shit
  kubernetes/apps/flux-system/flux-instance/app/prometheusrule.yaml
  kubernetes/apps/monitoring/grafana/app/grafanadashboard.yaml
  kubernetes/apps/monitoring/grafana/instance/httproute.yaml
  kubernetes/apps/monitoring/grafana/instance/servicemonitor.yaml
  kubernetes/apps/monitoring/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/monitoring/victoria-logs/collector/helmrelease.yaml
  kubernetes/apps/monitoring/victoria-logs/collector/kustomization.yaml
  kubernetes/apps/monitoring/victoria-logs/collector/ocirepository.yaml
  kubernetes/apps/monitoring/victoria-logs/ks.yaml
  kubernetes/apps/monitoring/victoria-metrics/cluster/helmrelease.yaml
  kubernetes/apps/monitoring/victoria-metrics/ks.yaml
Labels: area/kubernetes

chore: forgot shit for grafana
  kubernetes/apps/monitoring/grafana/instance/grafana.yaml
Labels: area/kubernetes

fix(victoria-metrics): this wait should be true
  kubernetes/apps/monitoring/victoria-metrics/ks.yaml
Labels: area/kubernetes

fix(victoria-metrics): vm crd is wrong
  kubernetes/apps/monitoring/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(victoria-metrics): Correct discord config
  kubernetes/apps/monitoring/victoria-metrics/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(victoria-metrics): Correct scraping configs
  kubernetes/apps/monitoring/victoria-metrics/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(dashboard): Update Prometheus endpoint to Victoria Metrics
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
Labels: area/kubernetes

feat(container): update HelmRelease and OCIRepository for app version 5.0.0; remove RBAC configuration
  archive/kubernetes/apps/web-tools/homepage/app/rbac.yaml
  kubernetes/apps/web-tools/homepage/app/helmrelease.yaml
  kubernetes/apps/web-tools/homepage/app/kustomization.yaml
  kubernetes/templates/apps/app/ocirepository.yaml.j2
Labels: area/kubernetes

feat(kavita): :rocket: Add Kavita to stack
  .vscode/settings.json
  kubernetes/apps/media/kavita/app/helmrelease.yaml
  kubernetes/apps/media/kavita/app/kustomization.yaml
  kubernetes/apps/media/kavita/app/ocirepository.yaml
  kubernetes/apps/media/kavita/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/mod.just
Labels: area/kubernetes

style(kavita): :art: Correct Linting
  kubernetes/apps/media/kavita/app/helmrelease.yaml
Labels: area/kubernetes

feat(kavita): :rocket: Add Kavita to stack (#3591)
  .vscode/settings.json
  kubernetes/apps/media/kavita/app/helmrelease.yaml
  kubernetes/apps/media/kavita/app/kustomization.yaml
  kubernetes/apps/media/kavita/app/ocirepository.yaml
  kubernetes/apps/media/kavita/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/mod.just
Labels: area/kubernetes

ci(ci): :adhesive_bandage: Correct from app-id to client-id in workflows
  .github/workflows/changelog.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/lychee.yaml
Labels: area/github

fix(kavita): Update probes
  kubernetes/apps/media/kavita/app/helmrelease.yaml
Labels: area/kubernetes

fix(prometheus): Update kube-prometheus-stack to prometheus-operator-crds with version 28.0.1
  bootstrap/helmfile.d/00-crds.yaml
Labels: area/bootstrap

fix(kavita): Add globalMounts for config persistence
  kubernetes/apps/media/kavita/app/helmrelease.yaml
Labels: area/kubernetes

fix(kavita): Remove unused tmp directory mount from HelmRelease
  kubernetes/apps/media/kavita/app/helmrelease.yaml
Labels: area/kubernetes

fix(kavita): Add globalMounts for tmpfs configuration in HelmRelease
  kubernetes/apps/media/kavita/app/helmrelease.yaml
Labels: area/kubernetes

Fix badge link for GitHub last commit
  readme.md
Labels: none

Fix last commit badge in README
  readme.md
Labels: none

Fix last commit badge link in README
  readme.md
Labels: none

Refactor kube-prometheus-stack configuration and network policies
  archive/kubernetes/apps/kube-system/cillium/netpols/allow-egress-apiserver.yaml
  archive/kubernetes/apps/kube-system/cillium/netpols/allow-egress-cluster.yaml
  archive/kubernetes/apps/kube-system/cillium/netpols/allow-egress-internet.yaml
  archive/kubernetes/apps/kube-system/cillium/netpols/allow-egress-kubedns.yaml
  archive/kubernetes/apps/kube-system/cillium/netpols/allow-egress-lan.yaml
  archive/kubernetes/apps/kube-system/cillium/netpols/allow-egress-world.yaml
  archive/kubernetes/apps/kube-system/cillium/netpols/allow-ingress-internet.yaml
  archive/kubernetes/apps/kube-system/cillium/netpols/allow-ingress-lan.yaml
  archive/kubernetes/apps/kube-system/cillium/netpols/allow-ingress-world.yaml
  archive/kubernetes/apps/kube-system/cillium/netpols/default-allow-kubedns.yaml
  archive/kubernetes/apps/kube-system/cillium/netpols/kube-system-allow-all.yaml
  archive/kubernetes/apps/kube-system/cillium/netpols/kustomization.yaml
  archive/kubernetes/apps/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
  archive/kubernetes/apps/monitoring/kube-prometheus-stack/app/grafanadashboard.yaml
  archive/kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  archive/kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  archive/kubernetes/apps/monitoring/kube-prometheus-stack/app/ocirepository.yaml
  archive/kubernetes/apps/monitoring/kube-prometheus-stack/app/secret.sops.yaml
  archive/kubernetes/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  archive/kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/kube-system/cilium/netpols/allow-egress-dns.yaml
  kubernetes/apps/kube-system/cilium/netpols/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

fix(cilium): update name of egress policy to allow-egress-dns
  kubernetes/apps/kube-system/cilium/netpols/allow-egress-dns.yaml
Labels: area/kubernetes

feat: update monitoring configurations to use VictoriaMetrics
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/flux-system/flux-instance/app/grafanadashboard.yaml
  kubernetes/apps/flux-system/flux-operator/app/clusterrolebinding.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/grafanadashboard.yaml
  kubernetes/apps/monitoring/alloy/app/resources/config.alloy
  kubernetes/apps/monitoring/grafana/instance/grafanadatasource.yaml
  kubernetes/apps/monitoring/grafana/instance/kustomization.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/victoria-logs/app/grafanadashboard.yaml
  kubernetes/apps/monitoring/victoria-logs/app/kustomization.yaml
  kubernetes/apps/monitoring/victoria-metrics/app/grafanadashboard.yaml
  kubernetes/apps/monitoring/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/monitoring/victoria-metrics/app/ocirepository.yaml
  kubernetes/apps/monitoring/victoria-metrics/app/scrapeconfig.yaml
  kubernetes/apps/monitoring/victoria-metrics/cluster/helmrelease.yaml
  kubernetes/apps/monitoring/victoria-metrics/cluster/kustomization.yaml
  kubernetes/apps/monitoring/victoria-metrics/cluster/ocirepository.yaml
  kubernetes/apps/monitoring/victoria-metrics/cluster/resources/flux-metrics.yaml
  kubernetes/apps/monitoring/victoria-metrics/ks.yaml
  kubernetes/apps/networking/cloudflare-tunnel/app/grafanadashboard.yaml
  kubernetes/apps/networking/envoy-gateway/app/grafanadashboard.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/grafanadashboard.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
Labels: area/kubernetes

fix: update instanceSelector labels from 'grafana.internal/instance' to 'dashboards' in Grafana configurations
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/kube-system/cilium/app/grafanadashboard.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/instance/grafana.yaml
  kubernetes/apps/networking/cloudflare-tunnel/app/grafanadashboard.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/grafanadashboard.yaml
Labels: area/kubernetes

fix: update Loki write URL to point to the correct VictoriaLogs server
  kubernetes/apps/monitoring/alloy/app/helmrelease.yaml
  kubernetes/apps/monitoring/alloy/app/resources/config.alloy
Labels: area/kubernetes

refactor(qbittorrent): Remove vuetorrent overlay, as it is no longer needed with qui
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat: restructure Justfile and add Helmfile configurations for Kubernetes and Talos
  .justfile
  bootstrap/helmfile.d/apps.yaml
  bootstrap/helmfile.d/crds.yaml
  bootstrap/mod.just
  infrastructure/mod.just
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/networking.yaml
  kubernetes/mod.just
  talos/mod.just
  talos/talenv.yaml
Labels: area/bootstrap, area/talos, area/kubernetes

refactor: remove OCI dependency processing from customManagers and update HelmRelease annotations
  .renovate/customManagers.json5
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
Labels: area/kubernetes, area/renovate

feat(container): update qbittorrent image repository to qbittorrent-libtorrentv1
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): remove TUNNEL_TRANSPORT_PROTOCOL and TUNNEL_POST_QUANTUM environment variables from cloudflare-tunnel
  kubernetes/apps/networking/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

feat(talos): add Talos Factory configuration and update datasource references
  .renovate/talosFactory.json5
  .renovaterc.json5
  talos/talenv.yaml
Labels: area/talos, area/renovate

feat(app): create namespace directory if it does not exist and update template paths
  kubernetes/mod.just
Labels: area/kubernetes

fix(talenv): update kubernetesVersion from v1.35.3 to v1.36.1 and correct schematic export in upgrade-node
  talos/mod.just
  talos/talenv.yaml
Labels: area/talos

feat(coredns): enhance server configuration with additional zones and plugin parameters
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes

refactor(talos): streamline reboot and upgrade commands in mod.just
  talos/mod.just
Labels: area/talos

fix(coredns): remove outdated zone configuration and plugins from HelmRelease
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes

revert(coredns): :rewind: Revert 35869d1d163d80c202ada0dbafef779911ab93fd
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes

fix(coredns): remove outdated zone configuration and plugins from HelmRelease
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes

feat: Add Proxmox VM configurations for Talos control plane and worker nodes
  .minijinja.toml
  infrastructure/opentofu/vm/main.bak
  infrastructure/opentofu/vm/vars.tf
  kubernetes/templates/apps/app/helmrelease.yaml.j2
  kubernetes/templates/apps/app/ocirepository.yaml.j2
  kubernetes/templates/apps/ks.yaml.j2
  kubernetes/templates/namespace/kustomization.yaml.j2
  talos/machineconfig.yaml.j2
  talos/mod.just
  talos/nodes/kmaster1.yaml.j2
  talos/nodes/kmaster2.yaml.j2
  talos/nodes/kmaster3.yaml.j2
  talos/nodes/kworker1.yaml.j2
  talos/nodes/kworker2.yaml.j2
  talos/nodes/kworker3.yaml.j2
  talos/talsecret.sops.yaml
Labels: area/talos, area/kubernetes, area/opentofu

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
    - any-glob-to-any-file: bootstrap/**/*
area/docs:
  - changed-files:
    - any-glob-to-any-file:
      - "docs/**/*"
      - "README.md"
area/talos:
  - changed-files:
    - any-glob-to-any-file: talos/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
    - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
    - any-glob-to-any-file:
      - ".taskfiles/**/*"
      - "Taskfile.yaml"
area/opentofu:
  - changed-files:
      - any-glob-to-any-file: infrastructure/opentofu/**/*
area/renovate:
  - changed-files:
    - any-glob-to-any-file:
      - ".renovate/**/*"
      - ".renovaterc.json5"
area/scripts:
  - changed-files:
    - any-glob-to-any-file: scripts/**/*
