Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform-cloudflare, area/terraform-vm

.github/labeler.yaml:

---
area/talos:
  - changed-files:
  - any-glob-to-any-file: infrastructure/talos/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform-cloudflare:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/cloudflare/*
area/terraform-vm:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/vm/*

chore: Update version in taskfile
  .taskfiles/flux/Taskfile.yaml
Labels: area/taskfile

ci(actions): :wrench: Add additional path to ignore
  .github/renovate/ignorePaths.json5
Labels: area/github

chore(recyclarr): :recycle: Update config's to new v7.x schema
  kubernetes/apps/media/recyclarr/app/configs/radarr-anime-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/radarr-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/radarr-uhd-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/sonarr-anime-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/sonarr-uhd-config.yaml
Labels: area/kubernetes

style: :lipstick: Update for linting
  kubernetes/tools/testing.yaml
Labels: area/kubernetes

feat: :recycle: Refactor talos deployment
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/kubernetes/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/workstation/Brewfile
  .taskfiles/workstation/Brewfile.lock.json
  .taskfiles/workstation/Taskfile.yaml
  Taskfile.yml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/apps/kube-system/coredns/app/helm-release.yaml
  kubernetes/apps/kube-system/coredns/app/helm-values.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/coredns/ks.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-values.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/values.yaml
  kubernetes/bootstrap/helmfile.yaml
  kubernetes/bootstrap/talos/apps/cilium-values.yaml
  kubernetes/bootstrap/talos/patches/controller/api-access.yaml
  kubernetes/bootstrap/talos/patches/controller/cluster.yaml
  kubernetes/bootstrap/talos/patches/controller/disable-admission-controller.yaml
  kubernetes/bootstrap/talos/patches/controller/etcd.yaml
  kubernetes/bootstrap/talos/patches/global/cluster-discovery.yaml
  kubernetes/bootstrap/talos/patches/global/containerd.yaml
  kubernetes/bootstrap/talos/patches/global/disable-search-domain.yaml
  kubernetes/bootstrap/talos/patches/global/hostdns.yaml
  kubernetes/bootstrap/talos/patches/global/kubelet.yaml
  kubernetes/bootstrap/talos/patches/global/network.yaml
  kubernetes/bootstrap/talos/patches/global/openebs-local.yaml
  kubernetes/bootstrap/talos/patches/global/sysctl.yaml
  kubernetes/bootstrap/talos/talconfig.yaml
  kubernetes/bootstrap/talos/talsecret.sops.yaml
Labels: area/kubernetes, area/taskfile

fix(cilium): :wrench: Fix BGP policy
  kubernetes/apps/kube-system/cilium/app/bgp-peering-policy.yaml
Labels: area/kubernetes

fix: :wrench: Fix taskfile
  Taskfile.yml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes, area/taskfile

feat(gateway): :recycle: Move away from gateway back to nginx
  kubernetes/apps/media/bazarr-anime/app/helm-release.yaml
  kubernetes/apps/media/bazarr-uhd/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes

chore(kyverno): :adhesive_bandage: Correct configMapGenerator to correct file
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
Labels: area/kubernetes

chore(cert-manager): :closed_lock_with_key: Update API token
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
Labels: area/kubernetes

chore(rook-ceph): :wrench: Update node devices
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

chore(external-dns): :closed_lock_with_key: Update API token
  kubernetes/apps/networking/external-dns/app/secrets.sops.yaml
Labels: area/kubernetes

chore(sonarr): :wrench: Update pvc to ReadWriteMany
  kubernetes/apps/media/sonarr/app/config-pvc.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

chore: :wrench: Update PVC to ReadWriteMany and to ceph-filesystem from ceph-block
  kubernetes/apps/media/bazarr-anime/app/config-pvc.yaml
  kubernetes/apps/media/bazarr-uhd/app/config-pvc.yaml
  kubernetes/apps/media/bazarr/app/config-pvc.yaml
  kubernetes/apps/media/overseerr/app/config-pvc.yaml
  kubernetes/apps/media/prowlarr/app/config-pvc.yaml
  kubernetes/apps/media/radarr-uhd/app/config-pvc.yaml
  kubernetes/apps/media/radarr/app/config-pvc.yaml
  kubernetes/apps/media/radarranime/app/config-pvc.yaml
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
  kubernetes/apps/media/sabnzbd/app/config-pvc.yaml
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/apps/media/sonarr-anime/app/config-pvc.yaml
  kubernetes/apps/media/sonarr-uhd/app/config-pvc.yaml
  kubernetes/apps/media/sonarr/app/config-pvc.yaml
  kubernetes/apps/media/tautulli/app/config-pvc.yaml
Labels: area/kubernetes

feat(recyclarr): :recycle: Change to cronjob
  kubernetes/apps/media/recyclarr/app/config-pvc.yaml
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(bazarr): :wrench: Add additonal persistant volumes to deployment
  kubernetes/apps/media/bazarr-anime/app/helm-release.yaml
  kubernetes/apps/media/bazarr-uhd/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

chore: :wrench: Remove PVC and additional configs
  kubernetes/apps/media/flaresolverr/app/helm-release.yaml
Labels: area/kubernetes

chore(overseer): :wrench: Add tmp persistence
  kubernetes/apps/media/overseerr/app/helm-release.yaml
Labels: area/kubernetes

chore(k8s-gateway): :wrench: Update externalTrafficPolicy and add watchedResources
  kubernetes/apps/networking/k8s-gateway/app/helm-release.yaml
Labels: area/kubernetes

chore(ingress-nginx): :wrench: Update externalTrafficPolicy to Local from Cluster
  kubernetes/apps/networking/nginx/external/helm-release.yaml
  kubernetes/apps/networking/nginx/internal/helm-release.yaml
Labels: area/kubernetes

chore(ingress-nginx): :wrench: Update config
  kubernetes/apps/networking/nginx/external/helm-release.yaml
  kubernetes/apps/networking/nginx/internal/helm-release.yaml
Labels: area/kubernetes

chore(ingress-nginx): :wrench: Remove external-dns annotation from internal ingress
  kubernetes/apps/networking/nginx/internal/helm-release.yaml
Labels: area/kubernetes

chore: :recycle: Update dependsOn and add targetNamespace and labels
  kubernetes/apps/media/sonarr/app/helm-release.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/networking/nginx/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

chore(cilium): :wrench: Fix ConfigMap name
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes

chore: :wrench: Correct to internal ingress from external
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sonarranime/ks.yaml
  kubernetes/apps/media/sonarruhd/ks.yaml
Labels: area/kubernetes

chore(prowlarr): :wrench: Correct to internal ingress from external
  kubernetes/apps/media/prowlarr/ks.yaml
Labels: area/kubernetes

chore(qbittorrent): :wrench: Fix controller and PV issues
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

chore(qbittorrent): Correct controller name
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

chore(prowlarr): :wrench: Add labels to PVC
  kubernetes/apps/media/prowlarr/app/config-pvc.yaml
Labels: area/kubernetes

chore(k8s-gateway): :wrench: Correct externalTrafficPolicy decleration
  Taskfile.yml
  kubernetes/apps/networking/k8s-gateway/app/helm-release.yaml
Labels: area/kubernetes, area/taskfile

chore(radarr): :wrench: Correct dependsOn from external ingress to internal
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/radarranime/ks.yaml
  kubernetes/apps/media/radarruhd/ks.yaml
Labels: area/kubernetes

chore: :wrench: Correct dependsOn from external ingress to internal
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/web-tools/hajimari/ks.yaml
Labels: area/kubernetes

chore(sabnzbd): :wrench: Change to ceph-filesystem for ceph-block in pvc
  kubernetes/apps/media/sabnzbd/app/config-pvc.yaml
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/apps/media/sabnzbd/app/kustomization.yaml
Labels: area/kubernetes

fix: :wrench: Update ingress
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/media/bazarr-anime/app/helm-release.yaml
  kubernetes/apps/media/bazarr-uhd/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/overseerr/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/radarranime/app/helm-release.yaml
  kubernetes/apps/media/radarruhd/app/helm-release.yaml
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
  kubernetes/apps/media/sonarranime/app/helm-release.yaml
  kubernetes/apps/media/sonarruhd/app/helm-release.yaml
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

chore(sabnzbd): :wrench: Add tmp pvc
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes

chore: :wrench: Add tmp pvc as emptyDir
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/radarranime/app/helm-release.yaml
  kubernetes/apps/media/radarruhd/app/helm-release.yaml
  kubernetes/apps/media/sonarranime/app/helm-release.yaml
  kubernetes/apps/media/sonarruhd/app/helm-release.yaml
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

chore(qbittorrent): :wrench: Add pvc, remove redundant declaration
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes

feat(recyclarr): :wrench: Return to statefulset from cronjob
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(recyclarr): :wrench: Add tmp PV
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(recyclarr): :wrench: Update recyclarr configs
  kubernetes/apps/media/recyclarr/app/configs/radarr-anime-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/radarr-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/radarr-uhd-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/sonarr-anime-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/sonarr-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/sonarr-uhd-config.yaml
Labels: area/kubernetes
