Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform-cloudflare, area/terraform-vm

.github/labeler.yaml:

---
area/talos:
  - changed-files:
  - any-glob-to-any-file: infrastructure/talos/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform-cloudflare:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/cloudflare/*
area/terraform-vm:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/vm/*

fix(renovate): update job name and upgrade action versions in Renovate workflow
  .github/workflows/renovate.yaml
Labels: area/github

ci(github-action): update action marocchino/sticky-pull-request-comme… (#2653)
  .github/workflows/flux-local.yaml
Labels: area/github

refactor(kustomization): remove external-dns and hajimari repositories from kustomization.yaml
  kubernetes/flux/meta/repos/external-dns.yaml
  kubernetes/flux/meta/repos/hajimari.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
Labels: area/kubernetes

refactor(kustomization): remove external-dns and hajimari repositories from kustomization.yaml
  kubernetes/flux/meta/repos/external-dns.yaml
  kubernetes/flux/meta/repos/hajimari.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
Labels: area/kubernetes

feat(helm): migrate kubelet-csr-approver to OCIRepository format
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
Labels: area/kubernetes

refactor(helm): update kubelet-csr-approver repository URL and remove deprecated files
  bootstrap/helmfile.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/bootstrap/github-deploy-key.sops.yaml
  kubernetes/bootstrap/helmfile.yaml
Labels: area/kubernetes

style(helm): :art: Linted file based on prettier standards
  bootstrap/helmfile.yaml
Labels: none

fix(bazarr): update path to point to the correct application directory
  kubernetes/apps/media/bazarr-anime/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
Labels: area/kubernetes

fix(pvc): update storageClassName from ceph-filesystem to ceph-block for multiple applications
  kubernetes/apps/downloads/qbittorrent/app/config-pvc.yaml
  kubernetes/apps/media/bazarr-anime/app/config-pvc.yaml
  kubernetes/apps/media/bazarr-uhd/app/config-pvc.yaml
  kubernetes/apps/media/bazarr/app/config-pvc.yaml
  kubernetes/apps/media/overseerr/app/config-pvc.yaml
  kubernetes/apps/media/prowlarr/app/config-pvc.yaml
  kubernetes/apps/media/radarr/app/config-pvc.yaml
  kubernetes/apps/media/radarranime/app/config-pvc.yaml
  kubernetes/apps/media/radarruhd/app/config-pvc.yaml
  kubernetes/apps/media/recyclarr/app/config-pvc.yaml
  kubernetes/apps/media/sonarr/app/config-pvc.yaml
  kubernetes/apps/media/sonarranime/app/config-pvc.yaml
  kubernetes/apps/media/sonarruhd/app/config-pvc.yaml
  kubernetes/apps/media/tautulli/app/config-pvc.yaml
Labels: area/kubernetes

refactor(cilium): update bpf configuration to set datapathMode to netkit and disable masquerade
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
Labels: area/kubernetes

fix(rook-ceph-cluster): correct volumeBindingMode spelling from 'Imemediate' to 'Immediate'
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

refactor(cilium): comment out redirect.yaml resource in kustomization.yaml
  kubernetes/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/apps/kube-system/coredns/app/helm-release.yaml
  kubernetes/apps/networking/external/external-dns/helm-release.yaml
Labels: area/kubernetes

fix(gateway): update allowedRoutes to allow all namespaces for multiple HTTPS listeners
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
Labels: area/kubernetes

feat(gateway): add ReferenceGrant for rook-ceph to kube-system namespace
  kubernetes/apps/cert-manager/cert-manager/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/gateway/reference_grant/rook.yaml
Labels: area/kubernetes

fix(kubelet-csr-approver): update sourceRef to use correct HelmRepository name and namespace
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
Labels: area/kubernetes

refactor(cilium): comment out unused cilium-netpols configuration in ks.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

fix(k8s-gateway): update Helm repository URL and chart version for k8s-gateway
  kubernetes/apps/networking/internal/k8s-gateway/helm-release.yaml
Labels: area/kubernetes

fix: update NAS_NAME to NAS_IP in helm-release.yaml files for multiple applications
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/tools/helm-release.yaml
  kubernetes/apps/media/bazarr-anime/app/helm-release.yaml
  kubernetes/apps/media/bazarr-uhd/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/radarranime/app/helm-release.yaml
  kubernetes/apps/media/radarruhd/app/helm-release.yaml
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
  kubernetes/apps/media/sonarranime/app/helm-release.yaml
  kubernetes/apps/media/sonarruhd/app/helm-release.yaml
  kubernetes/components/common/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix(external-dns): enable schema validation for install and upgrade phases
  kubernetes/apps/networking/external/external-dns/helm-release.yaml
Labels: area/kubernetes

fix(flux-instance): add additional substituteFrom entries for cluster settings
  kubernetes/apps/flux-system/flux-instance/ks.yaml
Labels: area/kubernetes

fix(kyverno): remove reference to PodSecurityPolicy in check-deprecated-apis policy
  kubernetes/apps/monitoring/kyverno/policies/check-deprecated-apis.yaml
Labels: area/kubernetes

fix(gateway): add namespace for bazarr-anime TLS certificate reference
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  talos/patches/global/machine-network.yaml
Labels: area/kubernetes

fix(kustomization): add postBuild substituteFrom for cluster secrets and settings
  kubernetes/apps/media/bazarr-anime/ks.yaml
  kubernetes/apps/media/bazarr-uhd/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/flaresolverr/ks.yaml
  kubernetes/apps/media/overseerr/ks.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/radarranime/ks.yaml
  kubernetes/apps/media/radarruhd/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/sonarranime/ks.yaml
  kubernetes/apps/media/sonarruhd/ks.yaml
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/networking/external/cloudflared/helm-release.yaml
  kubernetes/apps/networking/external/ks.yaml
  kubernetes/apps/networking/internal/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/apps/system/generic-device-plugin/ks.yaml
  kubernetes/apps/web-tools/hajimari/ks.yaml
Labels: area/kubernetes

fix(yaml): correct schema comment formatting for CiliumL2AnnouncementPolicy
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes

feat(gateway): add ReferenceGrant for media and monitoring namespaces; update helm-release.yaml for bazarr-anime and k8s-gateway
  kubernetes/apps/kube-system/cilium/gateway/reference_grant/media.yaml
  kubernetes/apps/kube-system/cilium/gateway/reference_grant/monitoring.yaml
  kubernetes/apps/media/bazarr-anime/app/helm-release.yaml
  kubernetes/apps/networking/internal/k8s-gateway/helm-release.yaml
Labels: area/kubernetes

fix(overseerr): update dependsOn name for ingress-nginx to match correct reference
  kubernetes/apps/media/overseerr/ks.yaml
Labels: area/kubernetes

refactor(cilium): enhance BGP configuration and add Grafana dashboard annotations
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes

fix(cilium): remove unused datapathMode configuration from BPF settings
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
Labels: area/kubernetes

fix(hostdns): enable forwarding of KubeDNS to host in machine-hostdns.yaml
  talos/patches/global/machine-hostdns.yaml
Labels: none

fix(cilium): enable masquerade in BPF configuration
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
Labels: area/kubernetes

fix(gateway): remove allowedRoutes from multiple HTTPS listeners in internal.yaml; update sectionName for rook-ceph-dashboard in httproute.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
Labels: area/kubernetes

fix(radarr): toggle ingress and route enabled states in helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes

fix(radarr): update image tag to 5.22.1 for multiple applications
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/radarranime/app/helm-release.yaml
  kubernetes/apps/media/radarruhd/app/helm-release.yaml
Labels: area/kubernetes

fix(kustomization): add app-template component to multiple kustomization files
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/web-tools/kustomization.yaml
Labels: area/kubernetes

fix(talconfig): comment out unused machine-hostdns patch
  talos/talconfig.yaml
Labels: none

refactor(cilium): remove unused datapathMode configuration from bpf section
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
Labels: area/kubernetes

refactor(ks.yaml): uncomment postBuild section for cluster-secrets substitution
  kubernetes/apps/flux-system/flux-instance/ks.yaml
Labels: area/kubernetes

fix(coredns): update replicaCount for kube-dns service from 2 to 3
  kubernetes/apps/kube-system/coredns/app/helm/values.yaml
Labels: area/kubernetes

refactor(cilium): restore and format CiliumL2AnnouncementPolicy and cilium-netpols configuration in YAML files
  kubernetes/apps/kube-system/cilium/app/networks.yaml
  kubernetes/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

fix(bazarr-anime): update path for bazarr-anime application in Kustomization
  kubernetes/apps/media/bazarr-anime/ks.yaml
Labels: area/kubernetes
