Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform-cloudflare, area/terraform-vm

chore(actions): Update workflow
  .github/workflows/meta-labeler.yml
Labels: area/github

chore(actions): Add Vulnerability Alerts
  .github/renovate.json5
Labels: area/github

chore(actions): Add additional env's
  .github/workflows/renovate.yaml
Labels: area/github

chore: Update renovate config
  .github/renovate.json5
Labels: area/github

refactor(flux): Update Gateway IP and backup location
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

refactor(talos): Update talos scripts
  .taskfiles/TalosTasks.yml
  infrastructure/talos/betty/deploy-integrations.sh
  infrastructure/talos/betty/integrations/cni/generate.sh
  infrastructure/talos/betty/integrations/cni/kustomization.yaml
  infrastructure/talos/betty/integrations/kublet-csr-approver/kustomization.yaml
Labels: area/taskfile

chore(talos): update config file
  infrastructure/talos/betty/talconfig.yaml
Labels: none

chore(tasks): Add installer path as variable
  .taskfiles/TalosTasks.yml
Labels: area/taskfile

chore(rook-ceph): Update device name
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

chore: Modify pvc
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/tools/disk-wipe-kworker1.yaml
  kubernetes/tools/disk-wipe-kworker2.yaml
  kubernetes/tools/disk-wipe-kworker3.yaml
  kubernetes/tools/wipe-rook.yaml
Labels: area/kubernetes

chore(prowlarr): Add additional fields
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(prowlarr): Update securityContext
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(prowlarr): Fix TZ
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(prowlarr): Update securityContext
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(prowlarr): Did shit
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(sonarranime): Add additional memory resource
  kubernetes/apps/media/sonarr-anime/app/helm-release.yaml
Labels: area/kubernetes

chore(bazarr): Update route
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

chore(omada): Update dependsOn into HR from KS
  kubernetes/apps/networking/omada/app/helm-release.yaml
  kubernetes/apps/networking/omada/ks.yaml
Labels: area/kubernetes

chore(qbittorrent): Disable deployment
  kubernetes/apps/downloads/kustomization.yaml
Labels: area/kubernetes

chore(bazarr): update route
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

chore(omada): change from statefulset
  kubernetes/apps/networking/omada/app/helm-release.yaml
Labels: area/kubernetes

chore(ci): Workflow maintenance
  .github/workflows/flux-diff.yaml
  .github/workflows/lychee.yaml
Labels: area/github

chore(omada-controller): Add Backup volume
  kubernetes/apps/networking/omada/app/helm-release.yaml
Labels: area/kubernetes

chore(radarr): Update resources and securityContext
  kubernetes/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes

chore(ci): :construction_worker: Update step
  .github/workflows/flux-diff.yaml
Labels: area/github

chore: Add logo to repo instead of external link
  docs/src/images/logo.png
Labels: none

docs: Update readme
  readme.md
Labels: none

docs: Update readme
  readme.md
Labels: none

chore(prowlarr): Update securityContext
  infrastructure/talos/betty/deploy-integrations.py
  infrastructure/talos/betty/deploy-integrations.sh
  infrastructure/talos/betty/integrations/kubelet-csr-approver/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(prowlarr): Update securityContext
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(jellyfin): Update nfs path for media
  kubernetes/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

chore(rook-ceph): Removed OSD for maintanence
  .taskfiles/TalosTasks.yml
  infrastructure/talos/betty/talconfig.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/tools/osd-purge.yaml
Labels: area/kubernetes, area/taskfile

chore(rook-ceph): add osd
  config.yaml
  infrastructure/talos/betty/deploy-integrations.sh
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/tools/disk-clean-kworker1.yaml
  kubernetes/tools/disk-clean-kworker2.yaml
  kubernetes/tools/disk-clean-kworker3.yaml
Labels: area/kubernetes

feat: Split Prowlarr and flaresolverr
  kubernetes/apps/media/flaresolver/app/helm-release.yaml
  kubernetes/apps/media/flaresolver/app/kustomization.yaml
  kubernetes/apps/media/flaresolver/ks.yaml
Labels: area/kubernetes

chore(flaresolver): Correct metadata
  kubernetes/apps/media/flaresolverr/app/helm-release.yaml
  kubernetes/apps/media/flaresolverr/app/kustomization.yaml
  kubernetes/apps/media/flaresolverr/ks.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat(prowlarr): Remove Flaresolver from HR.
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat(flaresolverr): add to app list
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

chore(radarr-uhd): Update pod.securityContext
  kubernetes/apps/media/radarr-uhd/app/helm-release.yaml
Labels: area/kubernetes

chore(prowlarr): Update persistantVolume
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

changes to things
  .taskfiles/TalosTasks.yml
  infrastructure/talos/betty/integrations/kubelet-csr-approver/kustomization.yaml
  infrastructure/talos/betty/talconfig.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/talos:
  - changed-files:
  - any-glob-to-any-file: infrastructure/talos/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform-cloudflare:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/cloudflare/*
area/terraform-vm:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/vm/*
