Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform-cloudflare, area/terraform-vm

.github/labeler.yaml:

---
area/talos:
  - changed-files:
  - any-glob-to-any-file: infrastructure/talos/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform-cloudflare:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/cloudflare/*
area/terraform-vm:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/vm/*

chore(recyclarr): :wrench: Update radarr-anime config
  kubernetes/apps/media/recyclarr/app/configs/radarr-anime-config.yaml
Labels: area/kubernetes

chore(recyclarr): :wrench: Update recyclarr configs
  kubernetes/apps/media/recyclarr/app/configs/radarr-anime-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/radarr-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/radarr-uhd-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/sonarr-anime-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/sonarr-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/sonarr-uhd-config.yaml
Labels: area/kubernetes

chore: :wrench: Update stuff
  .devcontainer/ci/features/install.sh
  .envrc
  .gitignore
  scripts/kubeconform.sh
Labels: none

chore: Update requirements.txt
  requirements.txt
Labels: none

chore(qbtools): Update args from int to string
  kubernetes/apps/downloads/qbittorrent/tools/helm-release.yaml
Labels: area/kubernetes

chore(qbtools): Update persistence mount
  kubernetes/apps/downloads/qbittorrent/tools/helm-release.yaml
Labels: area/kubernetes

chore(qbtools): Remove limiter container
  kubernetes/apps/downloads/qbittorrent/tools/helm-release.yaml
Labels: area/kubernetes

chore(qbittorrent): Update config to new VPN provider
  .vscode/home_cluster.code-workspace
  kubernetes/apps/downloads/qbittorrent/app/config/dnsdist.conf
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/vpnConfig.sops.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

chore(qbittorrent): Update gluetun securityContext
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

chore(qbittorrent): Update persistence
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

chore(qbittorrent): Update config to not mess with DNS
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

chore(qbittorrent): Update securtiyContext
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

chore(gluetun): Correct spelling mistake on config
  kubernetes/apps/downloads/qbittorrent/app/vpnConfig.sops.yaml
Labels: area/kubernetes

chore(qbittorrent): Update config
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

chore(gluetun): Update vpn config secret
  kubernetes/apps/downloads/qbittorrent/app/vpnConfig.sops.yaml
Labels: area/kubernetes

chore(gluetun): Update config ...again
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

feat(generic-device-plugin): :rocket: Add generic-device-plugin
  kubernetes/apps/system/generic-device-plugin/app/config/config.yaml
  kubernetes/apps/system/generic-device-plugin/app/helm-release.yaml
  kubernetes/apps/system/generic-device-plugin/app/kustomization.yaml
  kubernetes/apps/system/generic-device-plugin/ks.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/system/namespace.yaml
Labels: area/kubernetes

chore(generic-device-plugin): Correct resource file spelling
  kubernetes/apps/system/generic-device-plugin/app/kustomization.yaml
Labels: area/kubernetes

chore(qbittorrent): :wrench: Add resource limit for tun device
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

chore(qbittorrent): :wrench: Correct secret name for qbtools
  kubernetes/apps/downloads/qbittorrent/app/config/categories.json
  kubernetes/apps/downloads/qbittorrent/tools/helm-release.yaml
Labels: area/kubernetes

chore(qbtools): :wrench: Correct init container config
  .vscode/settings.json
  kubernetes/apps/downloads/qbittorrent/tools/helm-release.yaml
Labels: area/kubernetes

chore(hajimari): :wrench: Correct namespace in ks
  kubernetes/apps/web-tools/hajimari/ks.yaml
Labels: area/kubernetes

chore(cloudflared): :wrench: Update config to remove pod declaration
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
  kubernetes/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes

ci(actions): :wrench: Update renovate custom managers
  .github/renovate/customManagers.json5
Labels: area/github

feat(kube-prometheus-stack): :rocket: Add prometheus operator crds
  .vscode/settings.json
  kubernetes/apps/monitoring/prometheus-operator-crds/app/helm-release.yaml
  kubernetes/apps/monitoring/prometheus-operator-crds/app/kustomization.yaml
  kubernetes/apps/monitoring/prometheus-operator-crds/ks.yaml
Labels: area/kubernetes

chore(kube-prometheus-stack): :bug: Add missing dependency for prometheus operator crds
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

chore(kyverno): :wrench: Removed generateExistingOnPolicyUpdate as it is a deprecated field
  kubernetes/apps/monitoring/kyverno/policies/remove-cpu-limits.yaml
Labels: area/kubernetes

chore(infra): :wrench: Update terraform lock file
  infrastructure/terraform/vm/.terraform.lock.hcl
Labels: area/terraform-vm

chore(infra): :wrench: Update breaking changes to file
  infrastructure/terraform/vm/main.tf
Labels: area/terraform-vm

chore: Update settings
  .vscode/settings.json
Labels: none

style(grafana): :art: Correct linting
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

feat(terraform): :coffin: Remove cloudflare TF as it is no longer used
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
  infrastructure/terraform/cloudflare/secret.sops.yaml
  infrastructure/terraform/cloudflare/versions.tf
Labels: area/terraform-cloudflare

docs: :memo: Update readme
  readme.md
Labels: none

refactor(tasks): :recycle: Update task file
  .taskfiles/ClusterTasks.yml
  .taskfiles/PrecommitTasks.yml
  .taskfiles/SopsTasks.yml
  .taskfiles/TalosTasks.yml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/kubernetes/Taskfile.yaml
  .taskfiles/repository/Taskfile.yaml
  .taskfiles/sops/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/terraform/Taskfile.yaml
  .taskfiles/workstation/Archfile
  .taskfiles/workstation/Brewfile
  .taskfiles/workstation/Taskfile.yaml
  Taskfile.yml
Labels: area/taskfile

docs: :memo: Update Network Diagram
  docs/src/images/bl_logo.png
  docs/src/images/network.diagram.py
  docs/src/images/network_diagram.py
  docs/src/images/network_map.png
  requirements.txt
Labels: none

docs: :memo: Update network diagram
  docs/src/images/network_diagram.py
  docs/src/images/network_map.png
Labels: none

feat(vscode): add custom tags for better-comments extension
  .vscode/settings.json
Labels: none

fix(workflow): update release workflow to use ncipollo/release-action
  .github/workflows/release.yaml
Labels: area/github

feat(talos): add configuration files for cluster setup and network management
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yml
  talos/apps/cilium-values.yaml
  talos/apps/helmfile.yaml
  talos/apps/kubelet-csr-approver-values.yaml
  talos/clusterconfig/.gitignore
  talos/patches/controller/api-access.yaml
  talos/patches/controller/cluster.yaml
  talos/patches/controller/disable-admission-controller.yaml
  talos/patches/controller/etcd.yaml
  talos/patches/global/cluster-discovery.yaml
  talos/patches/global/containerd.yaml
  talos/patches/global/disable-search-domain.yaml
  talos/patches/global/hostdns.yaml
  talos/patches/global/kubelet.yaml
  talos/patches/global/network.yaml
  talos/patches/global/openebs-local.yaml
  talos/patches/global/sysctl.yaml
  talos/talconfig.yaml
  talos/talenv.yaml
  talos/talhelper.sops.yaml
  talos/talsecret.sops.yaml
Labels: area/taskfile

fix: Correct repo name
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes
