Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/talos, area/kubernetes, area/terraform-cloudflare, area/terraform-vm

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/talos:
  - "infrastructure/talos/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform-cloudflare:
  - "infrastructure/terraform/cloudflare/*"
area/terraform-vm:
  - "infrastructure/terraform/vm/*"

chore: Update internal gateway with annotation
  kubernetes/apps/networking/gateway/internal/internal-gateway.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

chore(gateway): Add additional hostname
  .vscode/settings.json
  kubernetes/apps/networking/gateway/internal/internal-gateway.yaml
Labels: area/kubernetes

chore(bazarr): Testing Gateway routing
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/networking/gateway/internal/internal-gateway.yaml
Labels: area/kubernetes

chore(bazarr): Testing Gateway routing
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

chore(bazarr): Testing Gateway routing
  kubernetes/apps/networking/gateway/internal/internal-gateway.yaml
Labels: area/kubernetes

chore(bazarr): Testing Gateway routing
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

chore(bazarr-anime): Testing Gateway routing
  kubernetes/apps/media/bazarr-anime/app/helm-release.yaml
  kubernetes/apps/networking/gateway/internal/internal-gateway.yaml
Labels: area/kubernetes

feat(bazarr-uhd): Migrate to Gateway from Ingress
  kubernetes/apps/media/bazarr-uhd/app/helm-release.yaml
  kubernetes/apps/networking/gateway/internal/internal-gateway.yaml
Labels: area/kubernetes

chore(gateway): Update external gateway listeners adn annotations
  kubernetes/apps/networking/gateway/external/external-gateway.yaml
Labels: area/kubernetes

chore(omada-controller): Add route values
  .gitignore
  kubernetes/apps/networking/omada/app/helm-release.yaml
Labels: area/kubernetes

feat(hajimari): Add custom app object
  kubernetes/apps/web-tools/hajimari/app/helm-release.yaml
  kubernetes/apps/web-tools/hajimari/hajimari-apps/bazarr.yaml
  kubernetes/apps/web-tools/hajimari/hajimari-apps/kustomization.yaml
  kubernetes/apps/web-tools/hajimari/ks.yaml
Labels: area/kubernetes

feat(hajimari): Add customApp and dependsOn
  kubernetes/apps/web-tools/hajimari/app/helm-release.yaml
  kubernetes/apps/web-tools/hajimari/hajimari-apps/bazarr.yaml
  kubernetes/apps/web-tools/hajimari/hajimari-apps/kustomization.yaml
  kubernetes/apps/web-tools/hajimari/ks.yaml
Labels: area/kubernetes

chore(rook-ceph): Add ingress annotations
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

chore: Update dependsOn
  kubernetes/apps/networking/gateway/ks.yaml
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes

chore(qbittorent): Removed env variables
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

chore(internal-ingress): Allow snippet annotations
  kubernetes/apps/networking/nginx/internal/helm-release.yaml
Labels: area/kubernetes

chore(internal-ingress): Allow snippet annotations
  kubernetes/apps/networking/nginx/internal/helm-release.yaml
Labels: area/kubernetes

chore(internal-ingress): Allow snippet annotations
  kubernetes/apps/networking/nginx/internal/helm-release.yaml
Labels: area/kubernetes

chore(hajimari): Add additional customApp
  kubernetes/apps/web-tools/hajimari/app/helm-release.yaml
Labels: area/kubernetes

chore: Update route hostname
  kubernetes/apps/media/bazarr-anime/app/helm-release.yaml
  kubernetes/apps/media/bazarr-uhd/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/networking/gateway/external/external-gateway.yaml
  kubernetes/apps/networking/gateway/internal/internal-gateway.yaml
Labels: area/kubernetes

chore(recyclarr): Update persistance config
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(recyclarr): Remove defaultMount
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(recyclarr): Remove readOnly flag from Persistance
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(recyclarr): Convert to globalMounts
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

refactor(actions): Remove automerge
  .github/renovate/autoMerge.json5
Labels: area/github

ci: Compartmentilze configurations better
  .github/renovate-bot.json5
  .github/renovate.json5
  .github/renovate/customDatasources.json5
  .github/renovate/customManagers.json5
  .github/renovate/packageRules.json5
Labels: area/github

chore: add calver release script
  .github/workflows/release.yaml
Labels: area/github

chore: Update pod.securityContext
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

chore(qbittorrent): Update pod.securityContext
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

refactor(actions): Update renovate action
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/sabnzbd to f2f3971
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes

chore(container): update image mbentley/omada-controller to 1acbfe0
  kubernetes/apps/networking/omada/app/helm-release.yaml
Labels: area/kubernetes

chore: Update pod.securityContext.supplementalGroups
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

Fix edge, single client, error case
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

chore(container): update image recyclarr/recyclarr to e9cd792
  kubernetes/apps/media/recyclarr-edge/app/helm-release.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.1.4
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update pre-commit hook sirosen/texthooks to 0.6.3
  .pre-commit-config.yaml
Labels: none

fix(helm): update chart descheduler to 0.28.1
  kubernetes/apps/kube-system/descheduler/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.11
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 3.1.1
  kubernetes/apps/monitoring/kyverno/app/helm-release.yaml
Labels: area/kubernetes
