Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/talos, area/kubernetes, area/terraform-cloudflare, area/terraform-vm

feat(container): update image ghcr.io/onedr0p/bazarr to v1.4.0
  kubernetes/apps/media/bazarr-anime/app/helm-release.yaml
  kubernetes/apps/media/bazarr-uhd/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart k8s-gateway to 2.1.0
  kubernetes/apps/networking/k8s-gateway/app/helm-release.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 54.2.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.20.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/versions.tf
Labels: area/terraform-cloudflare

chore(container): update image recyclarr/recyclarr to 8b1d056
  kubernetes/apps/media/recyclarr-edge/app/helm-release.yaml
Labels: area/kubernetes

chore(container): update image mbentley/omada-controller to 9a256fc
  kubernetes/apps/networking/omada/app/helm-release.yaml
Labels: area/kubernetes

chore(container): update image recyclarr/recyclarr to 2a4a24a
  kubernetes/apps/media/recyclarr-edge/app/helm-release.yaml
Labels: area/kubernetes

chore(container): update image mbentley/omada-controller to b8dc108
  kubernetes/apps/networking/omada/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.8.4
  kubernetes/apps/networking/nginx/external/helm-release.yaml
  kubernetes/apps/networking/nginx/internal/helm-release.yaml
Labels: area/kubernetes

chore(container): update image recyclarr/recyclarr to 2278a47
  kubernetes/apps/media/recyclarr-edge/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.9
  kubernetes/apps/rook-ceph/rook-ceph/app/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

feat(helm)!: Update chart kube-prometheus-stack to 55.0.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

chore(container): update image recyclarr/recyclarr to fdcae76
  kubernetes/apps/media/recyclarr-edge/app/helm-release.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sabnzbd to 7d2eef3
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/tautulli to 932a327
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/qbittorrent to v4.6.2
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.2.3.8303
  kubernetes/apps/media/radarr-uhd/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/radarranime/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.733
  kubernetes/apps/media/sonarr-anime/app/helm-release.yaml
  kubernetes/apps/media/sonarr-uhd/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/buroa/qbtools to v0.10.2
  kubernetes/apps/downloads/qbittorrent/tools/prune/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/tools/reannounce/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/tools/tags/helm-release.yaml
Labels: area/kubernetes

chore(container): update image mbentley/omada-controller to 53fa3da
  kubernetes/apps/networking/omada/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update image mbentley/omada-controller to v5.13
  kubernetes/apps/networking/omada/app/helm-release.yaml
Labels: area/kubernetes

feat(github-action)!: Update actions/labeler action to v5.0.0
  .github/workflows/meta-labeler.yml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v39.2.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.1.4142
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.1
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image recyclarr/recyclarr to fd8fdb5
  kubernetes/apps/media/recyclarr-edge/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/tautulli to v2.13.4
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/talos:
  - "infrastructure/talos/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform-cloudflare:
  - "infrastructure/terraform/cloudflare/*"
area/terraform-vm:
  - "infrastructure/terraform/vm/*"
