Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform-cloudflare, area/terraform-vm

.github/labeler.yaml:

---
area/talos:
  - changed-files:
  - any-glob-to-any-file: infrastructure/talos/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform-cloudflare:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/cloudflare/*
area/terraform-vm:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/vm/*

fix: update NAS_NAME to NAS_IP in helm-release.yaml files for multiple applications
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/tools/helm-release.yaml
  kubernetes/apps/media/bazarr-anime/app/helm-release.yaml
  kubernetes/apps/media/bazarr-uhd/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/radarranime/app/helm-release.yaml
  kubernetes/apps/media/radarruhd/app/helm-release.yaml
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
  kubernetes/apps/media/sonarranime/app/helm-release.yaml
  kubernetes/apps/media/sonarruhd/app/helm-release.yaml
  kubernetes/components/common/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix(radarr): update image tag to 5.22.1 for multiple applications
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/radarranime/app/helm-release.yaml
  kubernetes/apps/media/radarruhd/app/helm-release.yaml
Labels: area/kubernetes

feat(gateway): add ReferenceGrant for media and monitoring namespaces; update helm-release.yaml for bazarr-anime and k8s-gateway
  kubernetes/apps/kube-system/cilium/gateway/reference_grant/media.yaml
  kubernetes/apps/kube-system/cilium/gateway/reference_grant/monitoring.yaml
  kubernetes/apps/media/bazarr-anime/app/helm-release.yaml
  kubernetes/apps/networking/internal/k8s-gateway/helm-release.yaml
Labels: area/kubernetes

fix(gateway): remove allowedRoutes from multiple HTTPS listeners in internal.yaml; update sectionName for rook-ceph-dashboard in httproute.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
Labels: area/kubernetes

feat(gateway): add ReferenceGrant for rook-ceph to kube-system namespace
  kubernetes/apps/cert-manager/cert-manager/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/gateway/reference_grant/rook.yaml
Labels: area/kubernetes

fix(radarr): toggle ingress and route enabled states in helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes

fix(gateway): update allowedRoutes to allow all namespaces for multiple HTTPS listeners
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
Labels: area/kubernetes

fix(gateway): update ingress and route configurations to disable ingress and enable routes for multiple applications
  kubernetes/apps/media/bazarr-uhd/app/helm-release.yaml
  kubernetes/apps/media/overseerr/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/radarranime/app/helm-release.yaml
  kubernetes/apps/media/radarruhd/app/helm-release.yaml
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
  kubernetes/apps/media/sonarranime/app/helm-release.yaml
  kubernetes/apps/media/sonarruhd/app/helm-release.yaml
  kubernetes/apps/media/tautulli/app/helm-release.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes

feat(gateway): add grafana listener with HTTPS configuration and allowed routes for all namespaces
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
Labels: area/kubernetes

fix(prometheus): disable ingress and enable route for Prometheus with backend references
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(gateway): update allowedRoutes for sonarr, sonarranime, and sabnzbd to allow all namespaces
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
Labels: area/kubernetes

fix(qbittorrent): update lastmodified date and mac value in qbittorrent-gluetun secret
  kubernetes/apps/downloads/qbittorrent/app/qbittorrent-gluetun.sops.yaml
Labels: area/kubernetes

fix(qbittorrent): update lastmodified date, mac value, and version in qbittorrent-gluetun secret
  kubernetes/apps/downloads/qbittorrent/app/qbittorrent-gluetun.sops.yaml
Labels: area/kubernetes

fix(qbittorrent): update auth.toml to use stringData format and modify lastmodified date and mac value
  kubernetes/apps/downloads/qbittorrent/app/qbittorrent-gluetun.sops.yaml
Labels: area/kubernetes

fix(qbittorrent): add postBuild substituteFrom for cluster-secrets and cluster-settings in kustomization
  kubernetes/apps/downloads/qbittorrent/ks.yaml
Labels: area/kubernetes

fix(cloudflared): update service URL for external ingress controller in config.yaml
  kubernetes/apps/networking/external/cloudflared/configs/config.yaml
Labels: area/kubernetes

feat(homepage): :sparkles: Add homepage app to replace hajimari
  kubernetes/apps/web-tools/homepage/app/config/bookmarks.yaml
  kubernetes/apps/web-tools/homepage/app/config/docker.yaml
  kubernetes/apps/web-tools/homepage/app/config/kubernetes.yaml
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
  kubernetes/apps/web-tools/homepage/app/config/settings.yaml
  kubernetes/apps/web-tools/homepage/app/config/widgets.yaml
  kubernetes/apps/web-tools/homepage/app/helm-release.yaml
  kubernetes/apps/web-tools/homepage/app/kustomization.yaml
  kubernetes/apps/web-tools/homepage/app/rbac.yaml
  kubernetes/apps/web-tools/homepage/ks.yaml
  kubernetes/apps/web-tools/kustomization.yaml
  kubernetes/components/common/cluster-secrets.sops.yaml
  kubernetes/components/common/cluster-settings.yaml
Labels: area/kubernetes

feat(homepage): :sparkles: Add homepage app to replace hajimari (#2648)
  kubernetes/apps/web-tools/homepage/app/config/bookmarks.yaml
  kubernetes/apps/web-tools/homepage/app/config/docker.yaml
  kubernetes/apps/web-tools/homepage/app/config/kubernetes.yaml
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
  kubernetes/apps/web-tools/homepage/app/config/settings.yaml
  kubernetes/apps/web-tools/homepage/app/config/widgets.yaml
  kubernetes/apps/web-tools/homepage/app/helm-release.yaml
  kubernetes/apps/web-tools/homepage/app/kustomization.yaml
  kubernetes/apps/web-tools/homepage/app/rbac.yaml
  kubernetes/apps/web-tools/homepage/ks.yaml
  kubernetes/apps/web-tools/kustomization.yaml
  kubernetes/components/common/cluster-secrets.sops.yaml
  kubernetes/components/common/cluster-settings.yaml
Labels: area/kubernetes

fix(homepage): correct helmrelease.yaml to helm-release.yaml in resources
  kubernetes/apps/web-tools/homepage/app/kustomization.yaml
Labels: area/kubernetes

fix(homepage): define port as an anchor for reuse in service configuration
  kubernetes/apps/web-tools/homepage/app/helm-release.yaml
Labels: area/kubernetes

fix(homepage): remove unnecessary namespace declaration from chartRef
  kubernetes/apps/web-tools/homepage/app/helm-release.yaml
Labels: area/kubernetes

fix(homepage): remove envFrom section referencing homepage-secret from helm-release.yaml
  kubernetes/apps/web-tools/homepage/app/helm-release.yaml
Labels: area/kubernetes

fix(homepage): update HelmRelease configuration and add homepage route to internal gateway
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/web-tools/homepage/app/helm-release.yaml
Labels: area/kubernetes

fix(homepage): add HOMEPAGE_ALLOWED_HOSTS environment variable to app container
  kubernetes/apps/web-tools/homepage/app/helm-release.yaml
Labels: area/kubernetes

fix(cloudflared): update service endpoint to use cilium-gateway-external
  kubernetes/apps/networking/external/cloudflared/configs/config.yaml
Labels: area/kubernetes

feat(httproute): add GitHub webhook HTTPRoute configuration feat(values): enhance kustomize patches for resource management
  kubernetes/apps/flux-system/flux-instance/app/helm/values.yaml
  kubernetes/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
Labels: area/kubernetes

fix(services): update service URLs to use HTTP instead of HTTPS
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
Labels: area/kubernetes

fix(homepage): standardize Sonarr, Radarr, and Bazarr entries in services.yaml
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
Labels: area/kubernetes

fix(homepage): add rules for gateways and httproutes in ClusterRole
  kubernetes/apps/web-tools/homepage/app/rbac.yaml
Labels: area/kubernetes

fix(qbittorrent): update secret reference for GLUETUN_CONTROL_SERVER_API_KEY
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

feat(qbittorrent): add CoreDNS configuration and update Helm release for coredns integration
  kubernetes/apps/downloads/qbittorrent/app/config/Corefile
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/apps/downloads/qbittorrent/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/components/common/cluster-settings.yaml
Labels: area/kubernetes

feat(generic-device-plugin): add tolerations and update container ports for generic-device-plugin
  kubernetes/apps/system/generic-device-plugin/app/helm-release.yaml
Labels: area/kubernetes

feat(workflow): add Flux Local workflow for pull request testing and diffing
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-local.yaml
Labels: area/github

fix(secrets): update OVERSEERR_API_KEY and metadata lastmodified timestamp
  kubernetes/components/common/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix(deps): remove unnecessary dependsOn section from helm-release.yaml files
  kubernetes/apps/media/bazarr-anime/app/helm-release.yaml
  kubernetes/apps/media/bazarr-uhd/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/radarranime/app/helm-release.yaml
  kubernetes/apps/media/radarruhd/app/helm-release.yaml
Labels: area/kubernetes

fix(homepage): :bug: Update sonarr port in services
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
Labels: area/kubernetes

chore(talos): remove unused Cilium and kubelet-csr-approver configuration files
  talos/apps/cilium-values.yaml
  talos/apps/helmfile.yaml
  talos/apps/kubelet-csr-approver-values.yaml
Labels: none

feat(gateway): add flux-webhook listener with HTTPS configuration
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
Labels: area/kubernetes

fix(network-policy): update CiliumNetworkPolicy to include ingress rules and clean up unused configurations
  kubernetes/apps/downloads/qbittorrent/app/network-policy.yaml
Labels: area/kubernetes

fix(qbittorrent): enhance security context for pod and containers in helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes
