Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform-cloudflare, area/terraform-vm

chore(talos): Add talhelper schema
  .vscode/settings.json
  infrastructure/talos/betty/talconfig.json
  infrastructure/talos/betty/talconfig.yaml
Labels: none

feat(talos): Moved anchors around
  .taskfiles/TalosTasks.yml
  infrastructure/talos/betty/schematic.yaml
  infrastructure/talos/betty/talconfig.yaml
Labels: area/taskfile

chore(rook-ceph): disable rook for cluster rebuild
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/tools/disk-clean-kworker1.yaml
  kubernetes/tools/disk-clean-kworker2.yaml
  kubernetes/tools/disk-clean-kworker3.yaml
  kubernetes/tools/disk-wipe-kworker1.yaml
  kubernetes/tools/disk-wipe-kworker2.yaml
  kubernetes/tools/disk-wipe-kworker3.yaml
Labels: area/kubernetes

chore(rook-ceph): Enable after cluster reset
  kubernetes/apps/rook-ceph/kustomization.yaml
Labels: area/kubernetes

ci(ci): Update Renovate workflow and removed kubeconform
  .github/workflows/kubeconform.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat(talos): Update config's with new network settings
  infrastructure/talos/betty/schematic.yaml
  infrastructure/talos/betty/talconfig.yaml
Labels: none

chore(omada-controller): :bug: Fix errant label causing build failure
  kubernetes/apps/networking/omada/app/helm-release.yaml
Labels: area/kubernetes

chore: Update schema paths
  archive/k8s/clusters/betty/deploy/flux-system/flux-installation.yaml
  infrastructure/talos/betty/talconfig.yaml
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/config/flux.yaml
  kubernetes/flux/repositories/git/kustomization.yaml
  kubernetes/flux/repositories/helm/angelnu.yaml
  kubernetes/flux/repositories/helm/bitnami.yaml
  kubernetes/flux/repositories/helm/bjw-s.yaml
  kubernetes/flux/repositories/helm/cilium.yaml
  kubernetes/flux/repositories/helm/cloudnative-pg.yaml
  kubernetes/flux/repositories/helm/descheduler.yaml
  kubernetes/flux/repositories/helm/dysnix.yaml
  kubernetes/flux/repositories/helm/external-dns.yaml
  kubernetes/flux/repositories/helm/grafana.yaml
  kubernetes/flux/repositories/helm/hajimari.yaml
  kubernetes/flux/repositories/helm/ingress-nginx.yaml
  kubernetes/flux/repositories/helm/jetstack.yaml
  kubernetes/flux/repositories/helm/k8s-gateway.yaml
  kubernetes/flux/repositories/helm/kubereboot.yaml
  kubernetes/flux/repositories/helm/kyverno.yaml
  kubernetes/flux/repositories/helm/metrics-server.yaml
  kubernetes/flux/repositories/helm/postfinance.yaml
  kubernetes/flux/repositories/helm/prometheus-community.yaml
  kubernetes/flux/repositories/helm/rook-ceph.yaml
  kubernetes/flux/repositories/helm/sealed-secrets.yaml
  kubernetes/flux/repositories/helm/stakater.yaml
  kubernetes/flux/repositories/helm/vector.yaml
  kubernetes/flux/repositories/helm/weave-gitops.yaml
Labels: area/kubernetes

feat(cilium): :rocket: Add Cilium Net Policies
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/cilium/netpols/allow-egress-apiserver.yaml
  kubernetes/apps/kube-system/cilium/netpols/allow-egress-internet.yaml
  kubernetes/apps/kube-system/cilium/netpols/allow-egress-kubedns.yaml
  kubernetes/apps/kube-system/cilium/netpols/allow-egress-lan.yaml
  kubernetes/apps/kube-system/cilium/netpols/allow-egress-world.yaml
  kubernetes/apps/kube-system/cilium/netpols/allow-ingress-internet.yaml
  kubernetes/apps/kube-system/cilium/netpols/allow-ingress-lan.yaml
  kubernetes/apps/kube-system/cilium/netpols/allow-ingress-world.yaml
  kubernetes/apps/kube-system/cilium/netpols/default-allow-kubedns.yaml
  kubernetes/apps/kube-system/cilium/netpols/kube-system-allow-all.yaml
  kubernetes/apps/kube-system/cilium/netpols/kustomization.yaml
Labels: area/kubernetes

chore(cilium): :bug: Correct sourceRef.name
  kubernetes/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

chore(cilium): :bug: Correct spec.path
  kubernetes/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

chore(gateway): Correct spec.dependsOn.name for cilium
  kubernetes/apps/networking/gateway/ks.yaml
Labels: area/kubernetes

chore(ingress-nginx): Correct spec.dependsOn.name
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes

chore(cilium):
  kubernetes/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

chore: update talos and rook wiping deployments
  infrastructure/talos/betty/talconfig.json
  infrastructure/talos/betty/talconfig.yaml
  infrastructure/talos/betty/talenv.yaml
  kubernetes/tools/disk-wipe-kworker1.yaml
  kubernetes/tools/disk-wipe-kworker2.yaml
  kubernetes/tools/disk-wipe-kworker3.yaml
  kubernetes/tools/osd-purge.yaml
  kubernetes/tools/testing.yaml
Labels: area/kubernetes

chore(rook-ceph): :wrench: Change namespace
  kubernetes/tools/disk-wipe-kworker1.yaml
  kubernetes/tools/disk-wipe-kworker2.yaml
  kubernetes/tools/disk-wipe-kworker3.yaml
Labels: area/kubernetes

chore(talos): :wrench: Update config and deploy script
  .taskfiles/TalosTasks.yml
  infrastructure/talos/betty/deploy-integrations.sh
  infrastructure/talos/betty/talconfig.yaml
Labels: area/taskfile

chore(tautulli): :wrench: Update image tag
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

chore(actions): :wrench: Update path
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(cilium): Update cilium-netpols Kustomization in kube-system namespace
  kubernetes/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

chore(action): Update dir_names_max_depth in flux-diff.yaml
  .github/workflows/flux-diff.yaml
Labels: area/github

Update flux-diff.yaml
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(talos): Update Kubernetes and Talos versions, enable native routing mode, and remove tunnel configuration
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  infrastructure/talos/betty/integrations/cni/cilium-values.yaml
  infrastructure/talos/betty/integrations/cni/kustomization.yaml
  infrastructure/talos/betty/talconfig.yaml
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/bootstrap/talos/apps/kubelet-csr-approver-values.yaml
  kubernetes/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, area/taskfile

ci: Update .prettierignore and lint.yaml, add validate_kustomizations function
  .ci/prettier/.prettierignore
  .ci/secrets/.secretsignore
  .github/scripts/kubeconform.sh
  .github/workflows/lint.yaml
  scripts/kubeconform.sh
Labels: area/github

Update Prometheus Operator version to v0.73.0 and add namespace to wipe-rook.yaml
  .taskfiles/flux/Taskfile.yaml
  kubernetes/tools/clean-rook.yaml
  kubernetes/tools/wipe-rook.yaml
Labels: area/kubernetes, area/taskfile

fix(container): update security settings of favonia/cloudflare-ddns
  infrastructure/vyos/config-parts/container.sh
  infrastructure/vyos/config/config.boot
Labels: none

refactor: Update lint workflow away from MegaLinter
  .ci/markdownlint/.markdownlint.yaml
  .ci/prettier/.prettierignore
  .ci/yamllint/.yamllint.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-labeler.yml
  .pre-commit-config.yaml
Labels: area/github

refactor(talos): :recycle: Update to v1.8.1 in config and revert from bare-metal to proxmox
  archive/kubernetes/bootstrap/talos/talconfig.yaml
  infrastructure/terraform/vm/main.tf
  kubernetes/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, area/terraform-vm

refactor(talos): :recycle: Update terraform config to latest version of plugins
  .taskfiles/terraform/Taskfile.yaml
  Taskfile.yml
  infrastructure/terraform/vm/.terraform.lock.hcl
  infrastructure/terraform/vm/main.tf
  infrastructure/terraform/vm/versions.tf
Labels: area/taskfile, area/terraform-vm

feat(jellyfin): :fire: Remove Jellyfin, dependancy is no longer available
  kubernetes/apps/media/jellyfin/app/helm-release.yaml
  kubernetes/apps/media/jellyfin/app/kustomization.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
Labels: area/kubernetes

feat(omada-controller): :fire: Remove Omada Controller. Moved out of cluster and onto Proxmox LXC.
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/omada/app/helm-release.yaml
  kubernetes/apps/networking/omada/app/kustomization.yaml
  kubernetes/apps/networking/omada/ks.yaml
Labels: area/kubernetes

feat(recyclarr): :fire: Remove recyclarr-edge
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/recyclarr-edge/app/helm-release.yaml
  kubernetes/apps/media/recyclarr-edge/app/kustomization.yaml
  kubernetes/apps/media/recyclarr-edge/ks.yaml
Labels: area/kubernetes

ci: Update Flux Diff workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

feat: :recycle: Update to chart v3.5.1 values
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/qbittorrent/tools/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/tools/kustomization.yaml
  kubernetes/apps/downloads/qbittorrent/tools/prune/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/tools/prune/kustomization.yaml
  kubernetes/apps/downloads/qbittorrent/tools/qbtools-config.secret.sops.yaml
  kubernetes/apps/downloads/qbittorrent/tools/reannounce/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/tools/reannounce/kustomization.yaml
  kubernetes/apps/downloads/qbittorrent/tools/tags/helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/tools/tags/kustomization.yaml
  kubernetes/apps/media/bazarr-anime/app/helm-release.yaml
  kubernetes/apps/media/bazarr-uhd/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/flaresolverr/app/helm-release.yaml
  kubernetes/apps/media/overseerr/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/radarr-uhd/app/config-pvc.yaml
  kubernetes/apps/media/radarr-uhd/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/radarranime/app/helm-release.yaml
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/apps/media/sonarr-anime/app/helm-release.yaml
  kubernetes/apps/media/sonarr-uhd/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
  kubernetes/apps/media/tautulli/app/helm-release.yaml
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
  kubernetes/apps/web-tools/kustomization.yaml
  kubernetes/apps/web-tools/theme-park/app/helm-release.yaml
  kubernetes/apps/web-tools/theme-park/app/kustomization.yaml
  kubernetes/apps/web-tools/theme-park/ks.yaml
Labels: area/kubernetes

style: :art: Correct linting
  kubernetes/apps/downloads/qbittorrent/tools/qbtools-config.secret.sops.yaml
Labels: area/kubernetes

chore: Fix Linting
  kubernetes/apps/downloads/qbittorrent/tools/qbtools-config.secret.sops.yaml
Labels: area/kubernetes

ci(ci): :recycle: Update Renovate config files
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/customDatasources.json5
  .github/renovate/graphanaDashboards.json5
  .github/renovate/ignorePaths.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

Update ignorePaths.json5
  .github/renovate/ignorePaths.json5
Labels: area/github

chore(talos): :wrench: Change memory allocation for Talos VM's
  infrastructure/terraform/vm/main.tf
Labels: area/terraform-vm

chore(cilium): enableCnpStatusUpdates removed, routingMode set to empty string, tunnelProtocol set to empty string
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/talos:
  - changed-files:
  - any-glob-to-any-file: infrastructure/talos/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform-cloudflare:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/cloudflare/*
area/terraform-vm:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/vm/*
