Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/talos, area/github, area/kubernetes, area/taskfile, area/opentofu, area/renovate, area/scripts

fix(renovate): add grafana to auto-merge package rules
  .github/renovate/autoMerge.json5
Labels: area/github

fix(renovate): update package rules and improve datasource matching
  .github/renovate/labels.json5
  .github/renovate/packageRules.json5
  .vscode/settings.json
Labels: area/github

fix(labels): update renovate label from terraform to opentofu
  .github/labels.yaml
Labels: area/github

chore(mise): upgrade dependencies
  .mise.toml
Labels: none

refactor(homepage): clean up unused resources and update layout for media components
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/web-tools/homepage/app/config/bookmarks.yaml
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
  kubernetes/apps/web-tools/homepage/app/config/settings.yaml
  kubernetes/components/common/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix(homepage): change layout style for Sonarr and Radarr from column to row
  kubernetes/apps/web-tools/homepage/app/config/settings.yaml
Labels: area/kubernetes

ci(Renovate): remove obsolete Renovate configuration files and add new settings for auto-merging and custom managers
  .github/renovate/commitMessage.json5
  .github/renovate/ignorePaths.json5
  .github/renovate/packageRules.json5
  .renovate/autoMerge.json5
  .renovate/customManagers.json5
  .renovate/graphanaDashboards.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/semanticCommits.json5
  .renovaterc.json5
Labels: area/github, area/renovate

ci(renovate): update path for Renovate configuration files
  .github/workflows/renovate.yaml
Labels: area/github

fix(ocirepository): update OCI repository URL to correct path
  kubernetes/components/repos/app-template/ocirepository.yaml
Labels: area/kubernetes

fix(homepage): remove unnecessary anchor for namespace and update service account configuration
  kubernetes/apps/web-tools/homepage/app/helm-release.yaml
Labels: area/kubernetes

fix(kubelet-csr-approver): remove cosign verification from OCI repository configuration
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
Labels: area/kubernetes

feat(alloy): add Alloy monitoring application with configuration and … (#2807)
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/monitoring/alloy/app/helm-release.yaml
  kubernetes/apps/monitoring/alloy/app/kustomization.yaml
  kubernetes/apps/monitoring/alloy/app/resources/config.alloy
  kubernetes/apps/monitoring/alloy/ks.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/secret.sops.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
  kubernetes/apps/monitoring/loki/app/kustomization.yaml
  kubernetes/apps/monitoring/loki/ks.yaml
  talos/patches/global/machine-logging.yaml
  talos/talconfig.yaml
Labels: area/talos, area/kubernetes

fix(alloy): remove dependency on rook-ceph-cluster from Alloy Kustomization
  kubernetes/apps/monitoring/alloy/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

fix(alloy): correct configMap key from 'alloy.config' to 'config.alloy'
  kubernetes/apps/monitoring/alloy/app/helm-release.yaml
Labels: area/kubernetes

fix(kube-prometheus-stack): add security context to ensure non-root user execution
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(alloy): update configMapGenerator file reference for alloy-config
  kubernetes/apps/monitoring/alloy/app/kustomization.yaml
Labels: area/kubernetes

fix(alloy): update logging write_to format and correct Loki endpoint URL
  kubernetes/apps/monitoring/alloy/app/resources/config.alloy
Labels: area/kubernetes

fix(alloy): correct syntax error in forward_to configuration for pod_logs
  kubernetes/apps/monitoring/alloy/app/resources/config.alloy
Labels: area/kubernetes

fix(alloy): correct target reference in pod_logs relabeling configuration
  kubernetes/apps/monitoring/alloy/app/resources/config.alloy
Labels: area/kubernetes

fix(alloy): enclose cluster name in quotes in node_logs configuration
  kubernetes/apps/monitoring/alloy/app/resources/config.alloy
Labels: area/kubernetes

fix(bootstrap-apps): update external-dns CRD URL to the correct path
  scripts/bootstrap-apps.sh
Labels: area/scripts

chore(mise): upgrade dependencies
  .mise.toml
Labels: none

feat(huntarr): add tmp volume configuration with emptyDir type
  kubernetes/apps/media/huntarr/app/helm-release.yaml
Labels: area/kubernetes

feat(huntarr): :wrench: Add cache and logs folders
  .vscode/settings.json
  kubernetes/apps/media/overseerr/app/cache-pvc.yaml
  kubernetes/apps/media/overseerr/app/helm-release.yaml
  kubernetes/apps/media/overseerr/app/kustomization.yaml
Labels: area/kubernetes

feat(huntarr): :wrench: Add homepage annotations to Route
  kubernetes/apps/media/huntarr/app/helm-release.yaml
Labels: area/kubernetes

fix(huntarr): remove unnecessary security context settings from container spec
  kubernetes/apps/media/huntarr/app/helm-release.yaml
Labels: area/kubernetes

fix(huntarr): correct capitalization of 'Media' in homepage annotations
  kubernetes/apps/media/huntarr/app/helm-release.yaml
Labels: area/kubernetes

fix(huntarr): replace 'advancedMounts' with 'globalMounts' in helm-release.yaml
  .github/workflows/mise.yaml
  kubernetes/apps/media/huntarr/app/helm-release.yaml
Labels: area/github, area/kubernetes

fix(huntarr): add security context and update icon annotation in helm-release.yaml
  kubernetes/apps/media/huntarr/app/helm-release.yaml
Labels: area/kubernetes

fix(huntarr): remove security context and default pod options from helm-release.yaml
  kubernetes/apps/media/huntarr/app/helm-release.yaml
Labels: area/kubernetes

fix(overseerr): update health check path and clean up ingress configuration in helm-release.yaml
  kubernetes/apps/media/overseerr/app/helm-release.yaml
Labels: area/kubernetes

fix(overseerr): update security context with seccompProfile and change backendRefs name to identifier
  kubernetes/apps/media/overseerr/app/helm-release.yaml
Labels: area/kubernetes

fix(helm-release): replace 'name' with 'identifier' in backendRefs across multiple helm-release.yaml files
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
  kubernetes/apps/media/bazarr-anime/app/helm-release.yaml
  kubernetes/apps/media/bazarr-uhd/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/huntarr/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/radarranime/app/helm-release.yaml
  kubernetes/apps/media/radarruhd/app/helm-release.yaml
  kubernetes/apps/media/readarr/app/helm-release.yaml
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
  kubernetes/apps/media/sonarranime/app/helm-release.yaml
  kubernetes/apps/media/sonarruhd/app/helm-release.yaml
  kubernetes/apps/media/tautulli/app/helm-release.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/web-tools/homepage/app/helm-release.yaml
Labels: area/kubernetes

fix(overseerr): correct indentation for service app key in helm-release.yaml
  kubernetes/apps/media/overseerr/app/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): remove subPath entries for add-ons and tmp in helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): add subPath entries for add-ons and tmp in helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): add subPath entries for tmp for vuetorrent
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

fix(overseerr): replace hardcoded 'overseerr' with '*app' for consistency in helm-release.yaml
  kubernetes/apps/media/overseerr/app/helm-release.yaml
Labels: area/kubernetes

Refactor Helm release configurations for various media applications to use a unified *app placeholder for better maintainability.
  kubernetes/apps/media/bazarr-anime/app/helm-release.yaml
  kubernetes/apps/media/bazarr-uhd/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/flaresolverr/app/helm-release.yaml
  kubernetes/apps/media/huntarr/app/helm-release.yaml
  kubernetes/apps/media/overseerr/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/lokirule.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/app/lokirule.yaml
  kubernetes/apps/media/radarranime/app/helm-release.yaml
  kubernetes/apps/media/radarranime/app/kustomization.yaml
  kubernetes/apps/media/radarranime/app/lokirule.yaml
  kubernetes/apps/media/radarruhd/app/helm-release.yaml
  kubernetes/apps/media/radarruhd/app/kustomization.yaml
  kubernetes/apps/media/radarruhd/app/lokirule.yaml
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/kustomization.yaml
  kubernetes/apps/media/sonarr/app/lokirule.yaml
  kubernetes/apps/media/sonarranime/app/helm-release.yaml
  kubernetes/apps/media/sonarranime/app/kustomization.yaml
  kubernetes/apps/media/sonarranime/app/lokirule.yaml
  kubernetes/apps/media/sonarruhd/app/helm-release.yaml
  kubernetes/apps/media/sonarruhd/app/kustomization.yaml
  kubernetes/apps/media/sonarruhd/app/lokirule.yaml
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

fix(overseerr): add startup probe configuration and update tmpfs advanced mounts
  kubernetes/apps/media/overseerr/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
    - any-glob-to-any-file: bootstrap/**/*
area/docs:
  - changed-files:
    - any-glob-to-any-file:
      - "docs/**/*"
      - "README.md"
area/talos:
  - changed-files:
    - any-glob-to-any-file: talos/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
    - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
    - any-glob-to-any-file:
      - ".taskfiles/**/*"
      - "Taskfile.yaml"
area/opentofu:
  - changed-files:
      - any-glob-to-any-file: infrastructure/opentofu/**/*
area/renovate:
  - changed-files:
    - any-glob-to-any-file:
      - ".renovate/**/*"
      - ".renovaterc.json5"
area/scripts:
  - changed-files:
    - any-glob-to-any-file: scripts/**/*
