Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/talos, area/github, area/kubernetes, area/taskfile, area/opentofu, area/renovate, area/scripts

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
    - any-glob-to-any-file: bootstrap/**/*
area/docs:
  - changed-files:
    - any-glob-to-any-file:
      - "docs/**/*"
      - "README.md"
area/talos:
  - changed-files:
    - any-glob-to-any-file: talos/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
    - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
    - any-glob-to-any-file:
      - ".taskfiles/**/*"
      - "Taskfile.yaml"
area/opentofu:
  - changed-files:
      - any-glob-to-any-file: infrastructure/opentofu/**/*
area/renovate:
  - changed-files:
    - any-glob-to-any-file:
      - ".renovate/**/*"
      - ".renovaterc.json5"
area/scripts:
  - changed-files:
    - any-glob-to-any-file: scripts/**/*

fix(tautulli): :bug: Correct metadata.name and path
  kubernetes/apps/media/tautulli/ks.yaml
Labels: area/kubernetes

fix(qbittorrent): :bug: Correct wait indenting causing issue on flux deployment
  kubernetes/apps/downloads/qbittorrent/ks.yaml
Labels: area/kubernetes

fix(rook-ceph): :bug: Remove unnecessary dependency on volsync in Kustomization
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

fix(cert-manager, radarranime): :bug: Remove decryption configuration for sops
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/media/radarranime/ks.yaml
Labels: area/kubernetes

fix: Remove decryption configuration for sops in multiple Kustomization files
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/tqm/ks.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/media/overseerr/ks.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/radarruhd/ks.yaml
  kubernetes/apps/media/readarr/ks.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/sonarranime/ks.yaml
  kubernetes/apps/media/sonarruhd/ks.yaml
Labels: area/kubernetes

fix(cert-manager): Add apiVersion to health check for HelmRelease
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes

ci(actions): :recycle: Move to lychee action from homebrew
  .github/workflows/lychee.yaml
  .vscode/settings.json
Labels: area/github

fix(ci): Correct lychee args
  .github/workflows/lychee.yaml
Labels: area/github

refactor(ci): Revert to getting link issue number
  .github/workflows/lychee.yaml
Labels: area/github

fix(ci): Correct output for issue-number
  .github/workflows/lychee.yaml
Labels: area/github

refactor(kube-prometheus-stack): Add externalUrl and version to prometheusSpec
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(snapshot-controller): :sparkles: Add snapshot-controller to stack in prep for volsync feature
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/ocirepository.yaml
  kubernetes/apps/kube-system/snapshot-controller/ks.yaml
Labels: area/kubernetes

chore(snapshot-controller): Add to kustomization for deployment
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

fix(kustomization): update paths to include '/app' for cloudflare-dns, cloudflare-tunnel, and k8s-gateway
  kubernetes/apps/networking/cloudflare-dns/ks.yaml
  kubernetes/apps/networking/cloudflare-tunnel/ks.yaml
  kubernetes/apps/networking/k8s-gateway/ks.yaml
Labels: area/kubernetes

refactor(cf-tunnel): Correct http2 origin
  kubernetes/apps/kube-system/cilium/app/networks.yaml
  kubernetes/apps/kube-system/reloader/app/ocirepository.yaml
  kubernetes/apps/monitoring/kyverno/app/ocirepository.yaml
  kubernetes/apps/networking/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

Refactor Radarr Kustomization and HelmRelease Configuration
  .gitignore
  .justfile
  infrastructure/opentofu/vm/main.tf
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/apps/downloads/qbittorrent/app/ocirepository.yaml
  kubernetes/apps/downloads/tqm/app/helmrelease.yaml
  kubernetes/apps/downloads/tqm/app/ocirepository.yaml
  kubernetes/apps/downloads/tqm/ks.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/components/storage/kustomization.yaml
  kubernetes/components/storage/pvc.yaml
  kubernetes/mod.just
  kubernetes/templates/app-template/app/helmrelease.yaml.j2
  kubernetes/templates/app-template/app/kustomization.yaml.j2
  kubernetes/templates/app-template/app/ocirepository.yaml.j2
  kubernetes/templates/app-template/ks.yaml.j2
  kubernetes/templates/other/app/helmrelease.yaml.j2
  kubernetes/templates/other/app/kustomization.yaml.j2
  kubernetes/templates/other/app/ocirepository.yaml.j2
  kubernetes/templates/other/ks.yaml.j2
  talos/mod.just
  talos/patches/controller/api-access.yaml
  talos/patches/controller/cluster.yaml
  talos/patches/global/machine-kubelet.yaml
  talos/patches/global/machine-sysctl.yaml
  talos/schematic.yaml.j2
  talos/talconfig.yaml
  talos/talhelper.sops.yaml
Labels: area/talos, area/kubernetes, area/opentofu

fix(qbittorrent): Add components to substitute storage on
  kubernetes/apps/downloads/qbittorrent/ks.yaml
Labels: area/kubernetes

chore:
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

chore:(Update): wildcard endpoint
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
Labels: area/kubernetes

chore(cilium): Adjust Cilium gateway to use wildcard certs
  kubernetes/apps/kube-system/cilium/gateway/certificate.yaml
  kubernetes/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/apps/kube-system/cilium/gateway/redirect.yaml
Labels: area/kubernetes

style: :art: Fix linting
  .vscode/settings.json
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(atuin): :bug: Correct path in ks
  kubernetes/apps/system/atuin/ks.yaml
Labels: area/kubernetes

fix(atuin): :bug: Fix kustomization
  kubernetes/apps/system/atuin/app/kustomization.yaml
Labels: area/kubernetes

fix: Fix all the things
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/kustomization.yaml
  kubernetes/apps/monitoring/kromgo/app/ocirepository.yaml
  kubernetes/apps/monitoring/kromgo/ks.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/ks.yaml
  kubernetes/apps/web-tools/homepage/ks.yaml
Labels: area/kubernetes

fix: Correct OCI Repository missing
  kubernetes/apps/downloads/tqm/app/kustomization.yaml
  kubernetes/apps/media/sabnzbd/app/kustomization.yaml
Labels: area/kubernetes

fix(envoy-gateway): Remove verifier for oci endpoint
  kubernetes/apps/networking/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes

fix(envoy-gateway): Remove verification provider
  kubernetes/apps/networking/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes

fix(grafana): :bug: Fix route sectionName
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(KPS): Fix alertmanager HTTPRoute
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(envoy-gateway): :bug: Correct namespace
  kubernetes/apps/networking/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

fix(cloudflared): :bug: Correct config
  kubernetes/apps/networking/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

chore(homepage): :recycle: Remove Readarr widget and update cluster-secrets
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes

chore:(Update): cluster-secret
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes

feat!(victoria-logs): Migrate to Victoria Logs from Loki
  .minijinja.toml
  kubernetes/apps/monitoring/alloy/app/resources/config.alloy
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/victoria-logs/app/grafanadashboard.yaml
  kubernetes/apps/monitoring/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/monitoring/victoria-logs/app/kustomization.yaml
  kubernetes/apps/monitoring/victoria-logs/app/ocirepository.yaml
  kubernetes/apps/monitoring/victoria-logs/ks.yaml
  kubernetes/mod.just
  kubernetes/templates/other/app/helmrelease.yaml.j2
Labels: area/kubernetes

fix(victoria-logs): correct Kustomization
  kubernetes/apps/monitoring/victoria-logs/ks.yaml
Labels: area/kubernetes

feat(Victoria-logs): Migrate from Loki (#3184)
  .minijinja.toml
  kubernetes/apps/monitoring/alloy/app/resources/config.alloy
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/victoria-logs/app/grafanadashboard.yaml
  kubernetes/apps/monitoring/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/monitoring/victoria-logs/app/kustomization.yaml
  kubernetes/apps/monitoring/victoria-logs/app/ocirepository.yaml
  kubernetes/apps/monitoring/victoria-logs/ks.yaml
  kubernetes/mod.just
  kubernetes/templates/other/app/helmrelease.yaml.j2
Labels: area/kubernetes

chore: remove additional loki artifacts
  kubernetes/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/apps/downloads/qbittorrent/app/lokirule.yaml
  kubernetes/apps/media/prowlarr/app/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/lokirule.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/app/lokirule.yaml
  kubernetes/apps/media/radarranime/app/kustomization.yaml
  kubernetes/apps/media/radarranime/app/lokirule.yaml
  kubernetes/apps/media/radarruhd/app/kustomization.yaml
  kubernetes/apps/media/radarruhd/app/lokirule.yaml
  kubernetes/apps/media/sonarr/app/kustomization.yaml
  kubernetes/apps/media/sonarr/app/lokirule.yaml
  kubernetes/apps/media/sonarranime/app/kustomization.yaml
  kubernetes/apps/media/sonarranime/app/lokirule.yaml
  kubernetes/apps/media/sonarruhd/app/kustomization.yaml
  kubernetes/apps/media/sonarruhd/app/lokirule.yaml
Labels: area/kubernetes

fix(victoria-logs): Comment out grafanadashboard
  .vscode/settings.json
  kubernetes/apps/monitoring/victoria-logs/app/kustomization.yaml
Labels: area/kubernetes

fix: remove verifier from OCIRepository
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
  kubernetes/apps/kube-system/coredns/app/ocirepository.yaml
  kubernetes/apps/monitoring/alloy/app/ocirepository.yaml
Labels: area/kubernetes

fix(external-dns): :bug: Correct gateway-name
  kubernetes/apps/networking/cloudflare-dns/app/helmrelease.yaml
Labels: area/kubernetes
