Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, area/terraform-cloudflare, area/terraform-vm

.github/labeler.yaml:

---
area/talos:
  - changed-files:
  - any-glob-to-any-file: infrastructure/talos/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform-cloudflare:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/cloudflare/*
area/terraform-vm:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/vm/*

refactor(helm): update kubelet-csr-approver repository URL and remove deprecated files
  bootstrap/helmfile.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/bootstrap/github-deploy-key.sops.yaml
  kubernetes/bootstrap/helmfile.yaml
Labels: area/kubernetes

ci(github-action): update action marocchino/sticky-pull-request-comme… (#2653)
  .github/workflows/flux-local.yaml
Labels: area/github

fix(renovate): update job name and upgrade action versions in Renovate workflow
  .github/workflows/renovate.yaml
Labels: area/github

style(helm): :art: Linted file based on prettier standards
  bootstrap/helmfile.yaml
Labels: none

feat(workflow): add Flux Local workflow for pull request testing and diffing
  .github/workflows/flux-local.yaml
Labels: area/github

feat(workflow): add Flux Local workflow for pull request testing and diffing
  .github/workflows/flux-local.yaml
Labels: area/github

fix(workflow): resolve merge conflict in sticky-pull-request-comment action version
  .github/workflows/flux-local.yaml
Labels: area/github

refactor(hajimari): remove helm-release and kustomization files
  kubernetes/apps/web-tools/hajimari/app/helm-release.yaml
  kubernetes/apps/web-tools/hajimari/app/kustomization.yaml
  kubernetes/apps/web-tools/hajimari/ks.yaml
Labels: area/kubernetes

fix(helmfile): update kubelet-csr-approver repository URL to remove specific chart path
  bootstrap/helmfile.yaml
Labels: none

chore(renovate): remove Renovate configuration files
  .github/renovate-bot.json5
  .github/renovate.json5
Labels: area/github

refactor(cilium): remove commented-out CiliumBGPPeeringPolicy configuration
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes

fix(qbittorrent): update NFS path for media storage in helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes

Revert "feat(container): update rook-ceph group ( v1.16.7 → v1.17.0 ) (#2670)"
  kubernetes/apps/rook-ceph/rook-ceph/app/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

fix(rook-ceph): update image tag for rook-ceph to v1.17.0
  kubernetes/apps/rook-ceph/rook-ceph/app/helm-release.yaml
Labels: area/kubernetes

fix(rook-ceph): remove diskprediction_local module from mgr configuration
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

fix(services): update pfSense URL to use SECRET_DOMAIN for improved security
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/reflector/app/helmrelease.yaml
  kubernetes/apps/kube-system/reflector/app/kustomization.yaml
  kubernetes/apps/kube-system/reflector/ks.yaml
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
Labels: area/kubernetes

refactor(cluster): Update secret new api key
  kubernetes/components/common/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix(helm-release): update rook-ceph image tag to v1.17.1 and remove unused ingress configuration
  kubernetes/apps/rook-ceph/rook-ceph/app/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/kubernetes

fix(prowarr): increase memory limit from 256Mi to 512Mi
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat(Talos): add audit policy configuration to the cluster
  talos/patches/controller/cluster.yaml
Labels: none

feat(huntarr): add HelmRelease, PVC, and Kustomization for Huntarr application
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/media/huntarr/app/config-pvc.yaml
  kubernetes/apps/media/huntarr/app/helm-release.yaml
  kubernetes/apps/media/huntarr/app/kustomization.yaml
  kubernetes/apps/media/huntarr/ks.yaml
Labels: area/kubernetes

fix(huntarr): remove unnecessary empty lines in values section
  kubernetes/apps/media/huntarr/app/helm-release.yaml
Labels: area/kubernetes

feat(huntarr): add HelmRelease, PVC, and Kustomization for Huntarr ap… (#2701)
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/media/huntarr/app/config-pvc.yaml
  kubernetes/apps/media/huntarr/app/helm-release.yaml
  kubernetes/apps/media/huntarr/app/kustomization.yaml
  kubernetes/apps/media/huntarr/ks.yaml
Labels: area/kubernetes

fix(kustomization): add huntarr resource to kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

feat(Readarr): :sparkles: Add readarr to the stack
  .vscode/settings.json
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/media/readarr/app/config-pvc.yaml
  kubernetes/apps/media/readarr/app/helm-release.yaml
  kubernetes/apps/media/readarr/app/kustomization.yaml
  kubernetes/apps/media/readarr/ks.yaml
  kubernetes/components/common/cluster-secrets.sops.yaml
Labels: area/kubernetes

chore(Readarr): :art: Lint files
  .vscode/settings.json
  kubernetes/components/common/cluster-secrets.sops.yaml
Labels: area/kubernetes

feat(Readarr): :sparkles: Add readarr to the stack (#2704)
  .vscode/settings.json
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/media/readarr/app/config-pvc.yaml
  kubernetes/apps/media/readarr/app/helm-release.yaml
  kubernetes/apps/media/readarr/app/kustomization.yaml
  kubernetes/apps/media/readarr/ks.yaml
  kubernetes/components/common/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix(readarr): Corrected kustomization to include readarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

fix(readarr): Update image tag for Readarr to the latest version
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/kubernetes

feat(readarr): Add emptyDir type for tmp persistence volume
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/kubernetes

fix(huntarr): update image repository and tag to the latest version
  kubernetes/apps/media/huntarr/app/helm-release.yaml
Labels: area/kubernetes

fix(gateway): correct service name from rook-ceph-mgr-dashboard to rook-ceph-dashboard
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
Labels: area/kubernetes

fix(direnv): correct TALOSCONFIG pointer
  .envrc
Labels: none

feat(prometheus): add PrometheusRule for flux instance monitoring
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/prometheusrule.yaml
Labels: area/kubernetes

fix(helm): update security context and cronjob configurations in helm-release.yaml
  kubernetes/apps/downloads/qbittorrent/tools/helm-release.yaml
Labels: area/kubernetes

feat(network-policy): add CiliumNetworkPolicy for qbtools with ingress and egress rules
  kubernetes/apps/downloads/qbittorrent/tools/network-policy.yaml
Labels: area/kubernetes

feat(kustomization): add network-policy resource to kustomization.yaml
  kubernetes/apps/downloads/qbittorrent/tools/kustomization.yaml
Labels: area/kubernetes

fix(homepage): Update omada widget config
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
Labels: area/kubernetes

feat(terraform): refactor Proxmox VM configuration for Talos master and worker
  infrastructure/terraform/vm/main.tf
Labels: area/terraform-vm

fix(helm): update Cilium lb-ipam annotation keys in ingress-nginx and k8s-gateway configurations
  kubernetes/apps/networking/external/ingress-nginx/helm-release.yaml
  kubernetes/apps/networking/internal/ingress-nginx/helm-release.yaml
  kubernetes/apps/networking/internal/k8s-gateway/helm-release.yaml
  kubernetes/apps/networking/nginx/external/helm-release.yaml
  kubernetes/apps/networking/nginx/internal/helm-release.yaml
Labels: area/kubernetes
