Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/talos, area/github, area/kubernetes, area/taskfile, area/opentofu, area/renovate, area/scripts

fix(kustomization): update loki rule configurations for prowlarr, radarr, radarranime, radarruhd, sonarr, and sonarranime
  kubernetes/apps/media/prowlarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/radarranime/app/kustomization.yaml
  kubernetes/apps/media/radarruhd/app/kustomization.yaml
  kubernetes/apps/media/sonarr/app/kustomization.yaml
  kubernetes/apps/media/sonarranime/app/kustomization.yaml
  kubernetes/apps/media/sonarruhd/app/kustomization.yaml
Labels: area/kubernetes

fix(huntarr): add liveness and readiness probe configurations in helm-release.yaml
  kubernetes/apps/media/huntarr/app/helm-release.yaml
Labels: area/kubernetes

style(kube-prometheus-stack): :art: Correct Linting
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix(vscode): update Python default interpreter path to use virtual environment
  .vscode/settings.json
Labels: none

feat(deps): add sigstore/cosign and slsa-framework/slsa-verifier dependencies
  .mise.toml
Labels: none

fix(helm): update apiVersion from v1beta2 to v1 for OCIRepository resources
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/apps/kube-system/coredns/app/helm-release.yaml
  kubernetes/apps/kube-system/descheduler/app/helm-release.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
  kubernetes/apps/kube-system/reloader/app/helm-release.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/monitoring/alloy/app/helm-release.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/kyverno/app/helm-release.yaml
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
  kubernetes/apps/networking/external/external-dns/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/components/repos/app-template/ocirepository.yaml
Labels: area/kubernetes

fix(helm): update GitRepository URL to use SSH and adjust memory limit for deployments
  kubernetes/apps/flux-system/flux-instance/app/helm/values.yaml
Labels: area/kubernetes

refactor(cilium): :recycle: Migrate hubble from ingress to gateway-api
  kubernetes/apps/kube-system/cilium/app/bgp-peering-policy.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/app/httproute.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/reference_grant/media.yaml
  kubernetes/apps/kube-system/cilium/gateway/reference_grant/monitoring.yaml
  kubernetes/apps/kube-system/cilium/gateway/reference_grant/rook.yaml
Labels: area/kubernetes

fix(kustomization): add httproute.yaml resource to cilium kustomization
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes

fix(kustomization): change kind from Component to Kustomization in kustomization.yaml
  kubernetes/components/common/sops/kustomization.yaml
Labels: area/kubernetes

fix(kustomization): update apiVersion from v1alpha1 to v1beta1 in multiple kustomization files
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/sops/kustomization.yaml
  kubernetes/flux/meta/kustomization.yaml
Labels: area/kubernetes

fix(kustomization): revert apiVersion from v1beta1 to v1alpha1 in kustomization.yaml
  kubernetes/components/common/kustomization.yaml
Labels: area/kubernetes

fix(kustomization): remove internal-ingress-nginx dependency from multiple kustomization files
  kubernetes/apps/media/overseerr/ks.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/radarranime/ks.yaml
  kubernetes/apps/media/radarruhd/ks.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/sonarranime/ks.yaml
  kubernetes/apps/media/sonarruhd/ks.yaml
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

fix(kustomization): remove namespace from qbittorrent and vpnConfig secrets, update lastmodified and version
  kubernetes/apps/downloads/qbittorrent/app/qbittorrent-gluetun.sops.yaml
  kubernetes/apps/downloads/qbittorrent/app/vpnConfig.sops.yaml
Labels: area/kubernetes

fix(kustomization): add decryption configuration for sops in qbittorrent kustomization
  kubernetes/apps/downloads/qbittorrent/ks.yaml
Labels: area/kubernetes

feat(dep): Update aqua:jqlang/jq 1.7.1 → 1.8.0
  .mise.toml
Labels: none

feat(dep): Upgrade various dependencies
  .mise.toml
Labels: none

fix(renovate): correct filename for grafanaDashboards.json5 reference
  .renovate/autoMerge.json5
  .renovate/grafanaDashboards.json5
  .renovaterc.json5
Labels: area/renovate

fix(gitignore): add .crt files to ignore list and correct paths for Talos clusterconfigs
  .gitattributes
  .gitignore
Labels: none

refactor(mise.toml): comment out tools section for clarity
  .mise.toml
Labels: none

refactor(renovate): move terraform rules to packageRules section
  .renovaterc.json5
Labels: area/renovate

refactor(terraform): update package rules and restructure opentofu configuration
  .renovate/semanticCommits.json5
  .renovaterc.json5
Labels: area/renovate

feat(sabnzbd): add scripts for NZB name cleaning and filename replacement
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/apps/media/sabnzbd/app/kustomization.yaml
  kubernetes/apps/media/sabnzbd/app/resources/clean.py
  kubernetes/apps/media/sabnzbd/app/resources/replace_for.py
Labels: area/kubernetes

fix(helm): update sabnzbd scripts configMap to set defaultMode and readOnly attributes
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes

feat(homepage): Add readarr widget
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
Labels: area/kubernetes

feat(monitoring): add decryption configuration with sops secret reference
  kubernetes/apps/monitoring/alloy/ks.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/loki/ks.yaml
Labels: area/kubernetes

fix(kustomization): remove postBuild substitution configuration from flaresolverr
  kubernetes/apps/media/flaresolverr/ks.yaml
Labels: area/kubernetes

refactor(talos): Change DNS to local network
  talos/patches/global/machine-network.yaml
Labels: area/talos

feat(homepage): :sparkles: Add Proxmox and TrueNAS widgets and secrets
  .taskfiles/talos/Taskfile.yaml
  .vscode/settings.json
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  talos/talconfig.yaml
  talos/talenv.yaml
Labels: area/talos, area/kubernetes, area/taskfile

fix(sops): update TRUENAS_AUDIT_API_KEY and lastmodified timestamp
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix(qbtools): update config.yaml
  kubernetes/apps/downloads/qbittorrent/tools/qbtools-config.secret.sops.yaml
Labels: area/kubernetes

refactor(prowlarr): :adhesive_bandage: Update pod resouces
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

refactor(helm): replace 'tmp' with 'tmpfs' and add advanced mounts for logs and tmp directories
  kubernetes/apps/media/bazarr-anime/app/helm-release.yaml
  kubernetes/apps/media/bazarr-uhd/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/radarranime/app/helm-release.yaml
  kubernetes/apps/media/radarruhd/app/helm-release.yaml
  kubernetes/apps/media/readarr/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
  kubernetes/apps/media/sonarranime/app/helm-release.yaml
  kubernetes/apps/media/sonarruhd/app/helm-release.yaml
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

fix(qbtools): update securityContext fsGroup and user/group IDs to 1000
  kubernetes/apps/downloads/qbittorrent/tools/helm-release.yaml
Labels: area/kubernetes

fix(qbittorrent): add decryption configuration for sops in qbittorrent-tools
  kubernetes/apps/downloads/qbittorrent/ks.yaml
Labels: area/kubernetes

feat(byparr): :sparkles: Add byparr to replace flaresolverr
  kubernetes/apps/media/byparr/app/helm-release.yaml
  kubernetes/apps/media/byparr/app/kustomization.yaml
  kubernetes/apps/media/byparr/ks.yaml
Labels: area/kubernetes

fix(byparr): add byparr resource to media kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

fix(byparr): Add tmpfs to persistent volume
  kubernetes/apps/media/byparr/app/helm-release.yaml
Labels: area/kubernetes

fix(byparr): Add missing advanced mount for app path in helm-release.yaml
  kubernetes/apps/media/byparr/app/helm-release.yaml
Labels: area/kubernetes

fix(byparr): Add security context to enhance container security
  kubernetes/apps/media/byparr/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
    - any-glob-to-any-file: bootstrap/**/*
area/docs:
  - changed-files:
    - any-glob-to-any-file:
      - "docs/**/*"
      - "README.md"
area/talos:
  - changed-files:
    - any-glob-to-any-file: talos/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
    - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
    - any-glob-to-any-file:
      - ".taskfiles/**/*"
      - "Taskfile.yaml"
area/opentofu:
  - changed-files:
      - any-glob-to-any-file: infrastructure/opentofu/**/*
area/renovate:
  - changed-files:
    - any-glob-to-any-file:
      - ".renovate/**/*"
      - ".renovaterc.json5"
area/scripts:
  - changed-files:
    - any-glob-to-any-file: scripts/**/*
