Repository snoopy82481/home_cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/talos, area/github, area/kubernetes, area/taskfile, area/opentofu, area/renovate, area/scripts

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
    - any-glob-to-any-file: bootstrap/**/*
area/docs:
  - changed-files:
    - any-glob-to-any-file:
      - "docs/**/*"
      - "README.md"
area/talos:
  - changed-files:
    - any-glob-to-any-file: talos/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
    - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
    - any-glob-to-any-file:
      - ".taskfiles/**/*"
      - "Taskfile.yaml"
area/opentofu:
  - changed-files:
      - any-glob-to-any-file: infrastructure/opentofu/**/*
area/renovate:
  - changed-files:
    - any-glob-to-any-file:
      - ".renovate/**/*"
      - ".renovaterc.json5"
area/scripts:
  - changed-files:
    - any-glob-to-any-file: scripts/**/*

fix(homepage): update grafana widget url
  .sops.yaml
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
  talos/talsecret.sops.yaml
Labels: area/talos, area/kubernetes

feat!(overseer): Remove Overseer for Seer unified codebase app():
  kubernetes/apps/media/overseerr/app/cache-pvc.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/kustomization.yaml
  kubernetes/apps/media/overseerr/app/ocirepository.yaml
  kubernetes/apps/media/overseerr/ks.yaml
  talos/machineconfig.yaml.j2
  talos/nodes/kmaster1.yaml.j2
  talos/nodes/kmaster2.yaml.j2
  talos/nodes/kmaster3.yaml.j2
  talos/nodes/kworker1.yaml.j2
  talos/nodes/kworker2.yaml.j2
  talos/nodes/kworker3.yaml.j2
Labels: area/talos, area/kubernetes

feat(seerr): update Seerr image tag to v3.0.1 and remove unused media and backup configurations
  kubernetes/apps/media/seerr/app/helmrelease.yaml
Labels: area/kubernetes

feat(qui): :sparkles: Add QUI to stack
  .vscode/settings.json
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
  kubernetes/apps/downloads/qui/app/kustomization.yaml
  kubernetes/apps/downloads/qui/app/ocirepository.yaml
  kubernetes/apps/downloads/qui/ks.yaml
Labels: area/kubernetes

fix(qui): :bug: Correct missing targetNamespace in ks file and template ks file
  kubernetes/apps/downloads/qui/ks.yaml
  kubernetes/templates/apps/ks.yaml.j2
Labels: area/kubernetes

feat!(tqm): Disable from stack in lue of qui release
  kubernetes/apps/downloads/kustomization.yaml
Labels: area/kubernetes

feat(homepage): :recycle: Move RBAC into HR
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
  kubernetes/apps/web-tools/homepage/app/helmrelease.yaml
  kubernetes/apps/web-tools/homepage/app/kustomization.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix: Correct homepage Automatic Service Discovery
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
Labels: area/kubernetes

feat(recyclarr): Add media_management section with propers_and_repacks setting
  kubernetes/apps/media/recyclarr/app/configs/radarr-anime-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/radarr-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/radarr-uhd-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/sonarr-anime-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/sonarr-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/sonarr-uhd-config.yaml
Labels: area/kubernetes

chore(recyclarr): :recycle: Update to V8.x config yaml configuration
  kubernetes/apps/media/recyclarr/app/configs/radarr-anime-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/radarr-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/radarr-uhd-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/sonarr-anime-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/sonarr-config.yaml
  kubernetes/apps/media/recyclarr/app/configs/sonarr-uhd-config.yaml
Labels: area/kubernetes

feat(recyclarr): add custom format groups for media management
  kubernetes/apps/media/recyclarr/app/configs/radarr-config.yaml
Labels: area/kubernetes

style(qui): :art: Linting
  kubernetes/apps/downloads/qui/app/helmrelease.yaml
Labels: area/kubernetes

feat(tqm): remove tqm configuration
  archive/kubernetes/apps/downloads/tqm/app/config.sops.yaml
  archive/kubernetes/apps/downloads/tqm/app/helmrelease.yaml
  archive/kubernetes/apps/downloads/tqm/app/kustomization.yaml
  archive/kubernetes/apps/downloads/tqm/app/ocirepository.yaml
  archive/kubernetes/apps/downloads/tqm/ks.yaml
  kubernetes/apps/downloads/kustomization.yaml
  talos/mod.just
Labels: area/talos, area/kubernetes

Remove configuration files for Kubernetes master and worker nodes
  talos/machineconfig.yaml.j2
  talos/nodes/kmaster1.yaml.j2
  talos/nodes/kmaster2.yaml.j2
  talos/nodes/kmaster3.yaml.j2
  talos/nodes/kworker1.yaml.j2
  talos/nodes/kworker2.yaml.j2
  talos/nodes/kworker3.yaml.j2
Labels: area/talos

chore(talos): remove shebang from script calls in mod.just():
  talos/mod.just
Labels: area/talos

feat(just): Add infrastructure just recipes
  .justfile
  infrastructure/mod.just
Labels: none

style: :art: Lint file
  infrastructure/opentofu/vm/main.tf
Labels: area/opentofu

chore(just): Update justfiles for additonal automation
  infrastructure/mod.just
  talos/mod.just
Labels: area/talos

refactor(cert-manager): :recycle: Move to official chart from mirrored chart
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
Labels: area/kubernetes

refactor(homepage): Convert Overseerr widget to new Seerr widget():
  kubernetes/apps/web-tools/homepage/app/config/services.yaml
Labels: area/kubernetes

fix(just): Fix logging output
  talos/mod.just
Labels: area/talos

refactor(cilium): :rocket: Update OCIRepo to official repo
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes

fix(cilium): Correct bpf config
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

refactor(cilium): Update polices
  kubernetes/apps/kube-system/cilium/netpols/allow-egress-apiserver.yaml
  kubernetes/apps/kube-system/cilium/netpols/allow-egress-internet.yaml
  kubernetes/apps/kube-system/cilium/netpols/allow-egress-kubedns.yaml
  kubernetes/apps/kube-system/cilium/netpols/allow-egress-lan.yaml
  kubernetes/apps/kube-system/cilium/netpols/allow-egress-world.yaml
  kubernetes/apps/kube-system/cilium/netpols/allow-ingress-internet.yaml
  kubernetes/apps/kube-system/cilium/netpols/allow-ingress-lan.yaml
  kubernetes/apps/kube-system/cilium/netpols/allow-ingress-world.yaml
  kubernetes/apps/kube-system/cilium/netpols/default-allow-kubedns.yaml
  kubernetes/apps/kube-system/cilium/netpols/kustomization.yaml
Labels: area/kubernetes

refactor(envoy-gateway): :recycle: Update envoy configuration
  kubernetes/apps/networking/envoy-gateway/app/certificate.yaml
  kubernetes/apps/networking/envoy-gateway/app/envoy.yaml
  kubernetes/apps/networking/envoy-gateway/app/grafanadashboard.yaml
Labels: area/kubernetes

refactor(cilium): Update config to include socketLB and correct version to bootstrap
  bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

style: Correct spelling
  infrastructure/mod.just
Labels: none

chore(just): Remove postRenderer
  bootstrap/helmfile.d/00-crds.yaml
Labels: area/bootstrap

feat(cilium): add allow-egress-cluster policy and update kustomization
  kubernetes/apps/kube-system/cilium/netpols/allow-egress-cluster.yaml
  kubernetes/apps/kube-system/cilium/netpols/kustomization.yaml
Labels: area/kubernetes

feat(kyverno): Disable from stack
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

refactor(atuin): :recycle: Change from command to args for the container
  .vscode/settings.json
  kubernetes/apps/system/atuin/app/helmrelease.yaml
Labels: area/kubernetes

refactor(alloy): :recycle: Update config to include proxmox metrics
  kubernetes/apps/monitoring/alloy/app/resources/config.alloy
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix(config): update prometheus remote write URL and remove unused endpoints discovery
  kubernetes/apps/monitoring/alloy/app/resources/config.alloy
Labels: area/kubernetes

Remove Spegel changelog entry from changelogs.json5
  .renovate/changelogs.json5
Labels: area/renovate

fix(readme): update shield links and add missing sections
  readme.md
Labels: none

feat(readme): add DeepWiki shield to the README
  readme.md
Labels: none

fix(readme): correct last commit shield variable name
  readme.md
Labels: none

Add 'Built With' section header to README
  readme.md
Labels: none

Fix typo in documentation checklist
  readme.md
Labels: none

feat!(victoria-metrics): Transition from promethus to victoria-metrics
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/victoria-metrics/app/helmrelease.yaml
  kubernetes/apps/monitoring/victoria-metrics/app/kustomization.yaml
  kubernetes/apps/monitoring/victoria-metrics/app/ocirepository.yaml
  kubernetes/apps/monitoring/victoria-metrics/cluster/grafanadashboard.yaml
  kubernetes/apps/monitoring/victoria-metrics/cluster/helmrelease.yaml
  kubernetes/apps/monitoring/victoria-metrics/cluster/kustomization.yaml
  kubernetes/apps/monitoring/victoria-metrics/cluster/ocirepository.yaml
  kubernetes/apps/monitoring/victoria-metrics/cluster/resources/flux-metrics.yaml
  kubernetes/apps/monitoring/victoria-metrics/cluster/scrapeconfig.yaml
  kubernetes/apps/monitoring/victoria-metrics/ks.yaml
Labels: area/kubernetes
